.idea
*.sql
*.pyc
.htdigest
log/*
csv/*
open_ricostruzione/settings_local.py
open_ricostruzione/sitestatic
open_ricostruzione/media
sqlite.db*
open_ricostruzione/static/js/leaflet.js
open_ricostruzione/migrations/*
open_ricostruzione/csv/*
