{% extends "static.html" %}

{% block head-title %}Pagina non trovata{% endblock %}
{% block main-title %}Pagina non trovata{% endblock %}

{% block main-content %}
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span11">
                <p>
                Non abbiamo trovato quello che cerchi.<br/>
                Per tornare indietro fai clik sul tasto del browser <br/>
                oppure <a href="/">torna alla home page</a> del sito e ricomincia la navigazione.
                </p>

                <p>
                Grazie,<br/>
                lo staff di Open Ricostruzione
                </p>
            </div>
        </div>

    </div>

{% endblock %}

