{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            blocco interventi a programma
        </div>
        <div class="col-md-6">
            blocco interventi a piano
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            blocco mappa
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            torta aggregazione tipo immobile
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            torta aggregazione tipologia sogg.attuatori
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            fetch interventi/1
        </div>
        <div class="col-md-6">
            fetch interventi/2
        </div>
    </div>

{% endblock %}