{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {% block page-title %}{% endblock %}
        </div>
    </div>

    <div class="row basic_spacer">
        {% include 'aggregates/data_block.html' with title='interventi a programma' data_dict=status.programmazione  %}
        {% include 'aggregates/data_block.html' with title='interventi a piano' data_dict=status.pianificazione perc_label='a piano' status_filters="piano" %}
        {% include 'aggregates/data_block.html' with title='interventi in attuazione' data_dict=status.attuazione perc_label='in attuazione' status_filters="attuazione" %}
    </div>

    {#    execution status bar / status blocks #}
    {% include "aggregates/execution_status.html" %}
        
    {# fetch progetti #}
    <div class="row basic_spacer" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <h1>Interventi con maggiore importo</h1>
        </div>

    </div>

    {% if interventi_top_importo %}
        <div class="row basic_spacer">
            <div class="col-md-6">
                {% include 'aggregates/intervento_block.html' with intprog=interventi_top_importo.0 %}
            </div>
            <div class="col-md-6">
                {% include 'aggregates/intervento_block.html' with intprog=interventi_top_importo.2 %}
            </div>
        </div>
        <div class="row basic_spacer">
            <div class="col-md-6">
                {% include 'aggregates/intervento_block.html' with intprog=interventi_top_importo.1 %}
            </div>
            <div class="col-md-6">
                {% include 'aggregates/intervento_block.html' with intprog=interventi_top_importo.3 %}
            </div>
        </div>
    {% endif %}
    {% block home-map %}
    {% endblock %}

    {# aggregazione tipo immobile    #}
    {% block tipo-immobile %}
        <div class="row">
            <div class="col-md-12">
                <h1>Per cosa si interviene?</h1>
            </div>
        </div>
        <div class="row" style="font-size: 11px;">
            <div class="col-md-12">
                <table>
                    <tr>
                        <th rowspan="2"> tipo immobile</th>
                        <th colspan="2"> programma</th>
                        <th colspan="2"> piano</th>
                        <th colspan="2"> attuazione</th>
                    </tr>
                    <tr>
                        <th>numero</th>
                        <th>ammontare</th>
                        <th>numero</th>
                        <th>ammontare</th>
                        <th>numero</th>
                        <th>ammontare</th>
                    </tr>

                        {% for tipo_immobile in tipo_immobile_aggregates %}
                            <tr>
                                <td><strong>{{ tipo_immobile.name }}</strong></td>
                                <td>{{ tipo_immobile.programmazione.count }}</td><td>{{ tipo_immobile.programmazione.sum }} euro </td>
                                <td>{{ tipo_immobile.pianificazione.count }}</td><td>{{ tipo_immobile.pianificazione.sum }} euro</td>
                                <td>{{ tipo_immobile.attuazione.count }}</td><td>{{ tipo_immobile.attuazione.sum }} euro</td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
        {% include 'modules/tipo_immobile_bars.html' %}
    {% endblock %}

    {# aggregazione tipo sogg. att #}
    {% block soggetto-attuatore %}

        {% include 'aggregates/sogg_att_block.html' with pie_title="Aggregazione per tipo sogg.attuatore - ammontare" %}

    {% endblock %}

    {# aggregazione tipologia cedente #}
    {% block donazioni %}
        <hr>
        {% if donazioni_totale.sum > 0 %}
            {% include 'aggregates/donazioni_block.html' %}
        {% else %}
            Non sono state ricevute donazioni
        {% endif %}

    {% endblock %}



{% endblock %}