{% load humanize %}
<!DOCTYPE html >
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Open Ricostruzione - {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="" >

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.1.custom.css" rel="stylesheet">

    {% block css_header %}
    {% endblock %}


    {% if TEMPLATE_DEBUG %}

        <link href="{{ STATIC_URL }}less/styles.less" rel="stylesheet/less">
        <link href="{{ STATIC_URL }}less/styles-responsive.less" rel="stylesheet/less">
        <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.3.1.min.js"></script>

    {% else %}

        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    {% endif %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.label.css" />

    <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">



</head>

<body>
<div class="wrapper">
<!-- HEADER -->
<div class="container header">
    <div class="row ">
        <div  id="logo_header" >
            <div class="span7" id="logo_top">
                <a href="/">
                    <img src="{{ STATIC_URL }}/img/logo_white.png">
                </a>
            </div>
            {% if iban %}
                <div class="span4" id="appello">
                        {% block support %}
                            AIUTACI A RICOSTRUIRE!<br/>
                            <div class="iban">
                                <div class="title">Codice Iban</div>
                                <div class="number">&nbsp;</div>
                            </div>
                            <div class="iban">
                                <div class="title">Codice Bic Swift (bonifici dall'estero)</div>
                                <div class="number">&nbsp;</div>
                            </div>
                        {% endblock %}
                </div><!--/span-->
            {% else %}
                <div class="span4 {% block show-appello-home %}hidden{% endblock %}" id="appello">
                        <p class="title">AIUTACI A RICOSTRUIRE!</p>
                        <p>Scegli un comune, analizza lo stato dei lavori, aiutaci a ricostruire</p>
                        <select >
                            <option value="">Scegli il Comune</option>
                            {% for c in territori_alfabetico %}
                                <option value="{% url territorio_detail c.slug %}">
                                    {{ c.denominazione }}
                                </option>
                            {% endfor %}

                        </select>

                </div><!--/span-->
            {% endif %}


        </div>
    </div>
</div>

<!-- /HEADER-->
<!-- NAVBAR-->
<div id="top_navbar">
    <div class="container">
        <div class="row" id="">
            <div class="span7" id="navbar-span">
                <nav class="navbar navbar-custom">
                    <div class="navbar-inner-custom ">
                        <ul class="nav">
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Progetti <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for t in tipologie_progetti %}
                                        <li class="submenu">
                                            <a href="{% url progetti-tipologia t.slug %}">{{ t.denominazione }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donazioni <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="submenu">
                                        <a href="{% url donazioni-riepilogo %}">Riepilogo</a>
                                    </li>
                                    {% for t in tipologie_donazioni %}
                                        <li class="submenu">
                                            <a href="{% url donazioni-tipologia t.slug %}">{{ t.denominazione }}</a>
                                        </li>
                                    {% endfor %}
                                    <li class="submenu">
                                        <a href="{% url donazioni-completa %}">Tutte le donazioni</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comuni <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% regroup territori by get_provincia as group %}
                                        {% for g in group|dictsort:"grouper.denominazione" %}
                                            <li class="dropdown-submenu">
                                                <a>
                                                    {{ g.grouper.denominazione|title }}
                                                </a>
                                                <ul class="dropdown-menu">
                                                    {% for item in g.list|dictsort:"denominazione"%}
                                                        <li>
                                                            <a href="{% url territorio_detail item.slug %}">
                                                                {{ item.denominazione }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                </ul>
                            </li>

                        </ul>

                    </div>
                </nav>
             </div> <!--/navbar-span -->
        <div class=" span5">

{#            disable the form submit when pressing enter #}
            <script type='text/javascript'>
                var oktosubmit = false;
            </script>
            <form method="get" action="" class="navbar-search form-search pull-left" onsubmit="return oktosubmit;">
                <section  class="ui-widget">
                    <input type="text"
                           class="search-query "
                           id="progetto-search"
                           placeholder="Cerca tra i progetti" />
                </section>
            </form>
        </div>
        </div>
    </div>
</div>
<!-- /NAVBAR-->

<div id="top_home" class="{% block show-home %}hidden{% endblock %}">
    <div class="container content ">
        <div class="row">
            <div class="span5">
                <div class="main-content">
                    Quante donazioni sono state fatte per la ricostruzione dell'Emilia dopo il terremoto della
                    primavera de 2012? E dove sono finite?
                    A che punto sono i progetti? Come si stanno spendendo i finanziamenti pubblici?<br/>
                    Questo sito prova a rispondere a queste ed altre domande pubblicando e aggiornando tutti i dati a
                    disposizione.<br/> Perchè trasparenza degli amministratori vuol dire fiducia dei cittadini.
                </div>
            </div>
            <div class="span5 offset2 boxes" id="boxes-home">
                <div class="row">
                    <div class="span2" >
                        {%  if stima_danno %}
                            <div class="title">Stima del danno </div>
                            <div class="box" id="danno">
                                <div class="number"> {{ stima_danno|onlynumber }}</div>
                                <div class="grandezza">{{ stima_danno|onlyword }} {% if stima_danno > 1000000 %}di{% endif %} Euro</div>
                            </div>
                            <div class="subtitle">
                                {% if n_progetti %}
                                    Per {{ n_progetti }} progett{% if n_progetti < 2 %}o{% else %}i{% endif %} di ricostruzione
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="span2" >
                        {% if tot_donazioni %}
                            <div class="title">Donazioni ricevute</div>
                            <div class="box" id="donazioni">
                                <div class="number">{{ tot_donazioni|onlynumber}} </div>
                                <div class="grandezza">{{ tot_donazioni|onlyword }} {% if tot_donazioni > 1000000 %}di{% endif %} Euro</div>
                            </div>
                            <div class="subtitle">Da {{ n_donazioni }} donazion{% if n_donazioni < 2 %}e{% else %}i{% endif %}</div>
                        {% endif %}

                    </div>
                </div>
                <div class="row">
                    <div class="span5 " id="aggiornamento" >
                        Ultimo aggiornamento: {{ ultimo_aggiornamento }} - {{ n_comuni }} Comuni monitorati
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container content ">
    <div class="row {% block show-content %}{% endblock %}">
        <div class="span7 ">

            <div id="main-title" class="{% block main-title-class %}{% endblock %}">{% block main-title %}{% endblock %}</div>
            <div id="main-subtitle">{% block main-subtitle %}{% endblock %}</div>
            <div id="main-search">{% block main-search %}{% endblock %}</div>
            <div class="main-content">{% block main-content %}{% endblock %}</div>
        </div>
        <div class="span5 boxes {% block boxes-class %}{% endblock %}" >
            <div class="row">
                <div class="span2" >
                    {%  if stima_danno %}
                        <div class="title">Stima del danno </div>
                        <div class="box" id="danno">
                            <div class="number"> {% block stima-danno-number %}{% endblock %}</div>
                            <div class="grandezza">{% block stima-danno-word %}{% endblock %} Euro</div>
                        </div>
                        <div class="subtitle">
                        {% if n_progetti %}
                            Per {{ n_progetti }} progett{% if n_progetti < 2 %}o{% else %}i{% endif %} di ricostruzione
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="span2" >
                    {% if tot_donazioni %}
                        <div class="title">Donazioni ricevute</div>
                        <div class="box" id="donazioni">
                            <div class="number"> {% block tot-donazioni-number %}{% endblock %} </div>
                            <div class="grandezza">{% block tot-donazioni-word %}{% endblock %} Euro</div>
                        </div>
                        <div class="subtitle">Da {{ n_donazioni }} donazion{% if n_donazioni < 2 %}e{% else %}i{% endif %}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row ">

                {% block map %}

                {% endblock %}
            </div>
        </div>
    </div>

    <div id="data-content">
        {% block data-content %}
        {% endblock %}
    </div>

    {% block comments %}
        <div id="comment">
            <div class="row">
                <div class="span6">
                    {% block comment%}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

</div><!--/.container-->


<!-- FOOTER -->
<footer>
    <div id="green-background">
        <div class="container">
            <div class="row footer">
                <div class="span4" >
                    <div class="title">Questo sito</div>
                    <div class="text">
                        <p>
                            Open Ricostruzione è uno strumento a disposizione degli amministratori e dei cittadini per
                            favorire una ricostruzione partecipata e trasparente.
                        </p>
                        <p>
                            E' aperto al contributo di tutti e
                            anzi lo incoraggia: commenti, notizie, segnalazioni.
                        </p>
                        <p>
                            <a href="{% url contatti %}">
                                Siamo qui.
                            </a>
                        </p>
                    </div>
                    <div class="links">
                        <ul>
                            <li>
                                <a href="../il-progetto">
                                   Il Progetto
                                </a>
                            </li>
                            <li>
                                <a href="../chi-siamo">
                                    Chi siamo
                                </a>
                            </li>
                            <li>
                                <a href="../faq">
                                    FAQ
                                </a>
                            </li>
                            <li>
                                <a href="../contatti">
                                    Contatti
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="span4 offset2" >
                    <div class="title">Open Data</div>
                    <div class="text">
                        <p>
                            Stiamo lavorando all'apertura dei dati perché cittadini e organi di informazione possano
                            liberamente elaborarli e riutilizzarli con
                            <a href="http://creativecommons.org/licenses/by/3.0/it/deed.it" target="_blank">
                                Licenza CC BY 3.0 IT{% spaceless %}
                            </a>.{% endspaceless %}
                        </p>
                        <p>
                            A breve quindi saranno tutti disponibili nei formati open data.
                        <p/>
                        <p>
                            Il codice sorgente dell'applicazione è open source rilasciato con licenza
                            <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">
                                Gnu-Gpl V3
                            </a>
                            e scaricabile su
                            <a href="https://github.com/DeppSRL/open_ricostruzione" target="_blank">
                                GitHub{% spaceless %}
                            </a>.{% endspaceless %}
                        </p>
                    </div>
{#                    <div class="links">#}
{#                        <ul>#}
{#                            <li>#}
{#                               <a href="../download">#}
{#                                   Scarica gli open data#}
{#                               </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="../licenza">#}
{#                                    Licenza di utilizzo#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>
            </div> <!--/row-->
        </div>
    </div>
    <div id="gray-background">
        <div class="container">
            <div class="row ">
                <div class="span2">
                    <div class="row-fluid">
                        <div class="span12">
                            UN PROGETTO
                        </div>
                    </div>
                    <div class="row-fluid partners">
                        <div class="span6">
                            <a href="http://protezionecivica.ning.com/" target="_blank">
                                <img class="logo" src="{{ STATIC_URL }}img/protezionecivica.png" >
                            </a>
                        </div>
                        <div class="span5">
                            <a href="http://www.wikitalia.it/" target="_blank">
                                <img class="logo" src="{{ STATIC_URL }}img/wikitalia.png" >
                            </a>
                        </div>
                        <div class="span1">
                                <img class="spacer" src="{{ STATIC_URL }}img/footer-spacer.png" >
                        </div>
                    </div>
                </div>
                <div class="span8">
                    <div class="row-fluid ">
                        <div class="span12">
                            IN COLLABORAZIONE CON
                        </div>
                    </div>
                    <div class="row-fluid partners">
                        <div class="span3">
                            <a href="http://www.regione.emilia-romagna.it/" target="_blank">
                                <img class="logo" src="{{ STATIC_URL }}img/regioneemilia.png">
                            </a>
                        </div>
                        <div class="span2">
                            <a href="http:///www.actionaid.it/" target="_blank">
                                <img class="logo" src="{{ STATIC_URL }}img/actionaid.png">
                            </a>
                        </div>
                        <div class="span3" >
                            <a href="http:///www.openpolis.it/" target="_blank">
                                <img class="logo" src="{{ STATIC_URL }}img/openpolis.png">
                            </a>
                        </div>
                        <div class="span2">
                            <a href="http:///portale.ancitel.it/" target="_blank">
                                <img class="logo" src="{{ STATIC_URL }}img/ancitel.png">
                            </a>
                        </div>
                        <div class="span1" id="anci">
                            <a href="http://www.anci.it/" target="_blank">
                                <img class="logo" src="{{ STATIC_URL }}img/anci.png">
                            </a>
                        </div>
                        <div class="span1">
                            <img class="spacer" src="{{ STATIC_URL }}img/footer-spacer.png" >
                        </div>
                    </div>
                </div>
                <div class="span2 cisco">
                    <div class="row-fluid">
                        <div class="span12">
                            CON IL SOSTEGNO DI
                        </div>
                        <div class="span12 partners">
                            <a href="http:///www.cisco.com/web/IT/index.html" target="_blank">
                                <img class="logo" src="{{ STATIC_URL }}img/cisco.png">
                            </a>
                        </DIV>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.min.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL }}js/utils.js" type="text/javascript" ></script>

<!-- leaflet -->
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/Semicircle.js?"></script>
<script src="{{ STATIC_URL }}js/leaflet.label.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1"></script>



<script type="text/javascript">

    $(document).ready(function() {

        $('select').change(function(){
            var url = $(this).val();
            if(url)
                window.location = url;
        });

        $('#progetto-search').focus(function(){
            if ($(this)._cleared) return;
            $(this).val('');
            $(this)._cleared = true;
        });


        $( "#progetto-search" ).autocomplete({
            source: function( request, response ) {
                $.getJSON(
                       "{{ SITE_URL }}/progetti.json",
                        {'qterm': request.term },
                        function( data ) {
                            response( $.map( data, function( item ) {
                                return {
                                    label: item.fields.denominazione,
                                    value: item.fields.slug
                                }
                            }));
                        }
                );
            },
            minLength: 4,
            select: function( event, ui ) {
                window.location.href = "../progetto/"+ ui.item.value;
            },
            open: function() {
               $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        }).css('z-index', 10000);


      
    });

</script>

{% block comuni-search %}

{% endblock %}


{#/*    LEAFLET*/#}
{% block map-data %}

{% endblock %}
{#/*  END  LEAFLET*/#}


{#/*    HIGH CHARTS*/#}
{% block graph-data %}

{% endblock %}
{#/*  END  HIGH CHARTS*/#}

</body>
</html>
