<!DOCTYPE html >
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Open Ricostruzione - {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="" >

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.1.custom.css" rel="stylesheet">

    {% if DEBUG %}

        <link href="{{ STATIC_URL }}less/styles.less" rel="stylesheet/less">
        <link href="{{ STATIC_URL }}less/styles-responsive.less" rel="stylesheet/less">
        <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.3.1.min.js"></script>

    {% else %}

        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    {% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
</head>

<body>

<!-- HEADER -->
<div class="container header">
    <div class="row ">

        <div class="span6 " >
            <a href="/">
                <img src="{{ STATIC_URL }}\img\logo_white.png" />
            </a>
        </div>
        <div class="span4">
            {% block support %}

            {% endblock %}
        </div><!--/span-->
    </div>
    <div class="row" id="navbar">

        <div class="span8">
            <ul>
                <li>
                    <a href="#">
                        Progetti
                    </a>
                </li>
                <li>
                    <a href="#">
                        Donazioni
                    </a>
                </li>
                <li>
                    <a href="#">
                        Comuni
                    </a>
                </li>
            </ul>
        </div>



        <div class="span4">
            <form class="form-search content">
                <div class="input-append">
                    <input id="progetti" name="progetto" type="text" class="input-large search-query" placeholder="Cerca fra i progetti">
                    <button type="submit" class="btn add-in"><i class="icon-search"></i></button>
                </div>
            </form>
        </div><!--/span-->

    </div>
</div>
<!-- /HEADER -->

<div class="container content">
    {% block content %}

    {% endblock %}
</div><!--/.container-->


<!-- FOOTER -->
<div class="container">
    <footer>
        <div class="row footer">

            <div class="span3" >

            </div>
            <div class="span4">
                <p>

                </p>
            </div><!--/span-->

            <div class="span2">
                Contatti
            </div><!--/span-->
            <div class="span2">

            </div><!--/span-->
        </div>
    </footer>
</div>
<!-- /FOOTER -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.min.js" type="text/javascript" ></script>

<script type="text/javascript">

    $(document).ready(function() {
        $('#progetto').focus(function(){
            if ($(this)._cleared) return;
            $(this).val('');
            $(this)._cleared = true;
        });


        $( "#progetto" ).autocomplete({
            source: function( request, response ) {
{#                $.getJSON(#}
{#                       "insertapicallhere",#}
{#                        {'name': request.term },#}
{#                        function( data ) {#}
{#                            response( $.map( data.comuniByName.comune, function( item ) {#}
{#                                return {#}
{#                                    label: item.comunedeno,#}
{#                                    value: item.comune#}
{#                                }#}
{#                            }));#}
{#                        }#}
{#                );#}
            },
            minLength: 4,
            select: function( event, ui ) {
                window.location.href = "../progetto/"+ ui.item.label;
            },
            open: function() {
               $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        }).css('z-index', 10000);

    });
</script>

{#/*    HIGH CHARTS*/#}
{% block grafici %}

{% endblock %}
{#/*  END  HIGH CHARTS*/#}




</body>
</html>
