{% load humanize %}
{% load italianize %}

<!DOCTYPE html >
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="utf-8">
    
    <meta itemprop="name" content="Open Ricostruzione">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="http://www.openricostruzione.it/static/img/favicon_grande.png">
    <title>Open Ricostruzione - {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="" >
 
    <!-- Le styles -->

    {% if TEMPLATE_DEBUG %}
        <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}less/main.less?" rel="stylesheet/less">
        <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.3.1.min.js"></script>

    {% else %}
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">

    {% endif %}


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
<div class="wrapper">
<!-- HEADER -->
<div class="container header">
    <div class="row ">
        <div  id="logo_header" >
            <div class="span7" id="logo_top">
                <a href="/">
                    <img src="{{ STATIC_URL }}img/logo_white.png">
                </a>
            </div>


        </div> <!-- /logo header -->
    </div> <!--/row -->
</div> <!-- / container header -->
<!-- navbar -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include 'commons/navbar.html' %}
        </div>
    </div>
</div>
<!-- /navbar -->
<!-- content -->
<div class="container">
    {% block content %}
        <div class="row">
            <div class="span5">
                Work in progress
            </div>
        </div>
    {% endblock %}
</div>
<!-- /content -->

<!-- FOOTER -->
{% include 'commons/footer.html' %}

<!-- /FOOTER -->
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}vendor/highcharts/js/highcharts.js"></script>

{% include 'g_analytics.html' %}


</body>
</html>
