{% extends "static.html" %}

{% block title %}Chi siamo{% endblock %}
{% block main-title %}Chi siamo{% endblock %}
{% block main-subtitle %}{% endblock %}

{% block main-content %}
    <div class="row">
        <div class="span7">
            <strong>Open Ricostruzione</strong> è un progetto realizzato gratuitamente per la
            <a href="http://www.regione.emilia-romagna.it/" target="_blank" >
                Regione Emilia Romagna{% spaceless %}
            </a>.{% endspaceless %}<br/>
            E' stato voluto dalla associazione
            <a href="http://www.wikitalia.it/" target="_blank" >
                Wikitalia
            </a> e realizzato in collaborazione con
            <a href="http://portale.ancitel.it/" target="_blank" >
                Ancitel{% spaceless %}
            </a>,{% endspaceless %}
            <a href="http://www.actionaid.it/" target="_blank" >
                Action Aid
            </a>
             e
            <a href="http://www.openpolis.it" target="_blank" >
                Openpolis
            </a>
            con il sostegno di
            <a href="http://www.cisco.com/web/IT/index.html" target="_blank" >
                Cisco Italia{% spaceless %}
            </a>.{% endspaceless %}
        </div>
    </div>
{% endblock %}