{% extends "static.html" %}

{% block title %}Contatti{% endblock %}
{% block main-title %}Contatti{% endblock %}
{% block main-subtitle %}{% endblock %}

{% block main-content %}
    <div class="row">
        <div class="span7">
        <p>
            Per informazioni, suggerimenti, chiarimenti, segnalazioni, critiche e incoraggiamenti puoi
            contattarci a questa email<BR/>
            <a href="mailto:sisma@anci.emilia-romagna.it">
                sisma@anci.emilia-romagna.it
            </a>
        </p>
        </div>
    </div>
{% endblock %}