{% extends "base.html" %}
{% load humanize %}
{% block title %}Donazioni - Riepilogo{% endblock %}

{% block stima-danno-number %}{{ stima_danno|onlynumber }}{% endblock %}
{% block stima-danno-word %}{{ stima_danno|onlyword }} {% if stima_danno > 1000000 %} di{% endif %}{% endblock %}
{% block tot-donazioni-number %}{{ tot_donazioni|onlynumber}}{% endblock %}
{% block tot-donazioni-word %}{{ tot_donazioni|onlyword }} {% if tot_donazioni > 1000000 %}  di{% endif %}{% endblock %}
{% block main-title %}<p style="color:#a1ba03; text-transform: uppercase;" >Donazioni</P>{% endblock %}
{% block main-subtitle %}Sottotitolo alla pagina Donazioni riepilogo{% endblock %}

{% block data-content %}
    <div class="row" style="margin-top:25px;">
        <div class="span12" id="riepilogo-map">
        </div>
    </div>
    <div class="row" style="margin-top:12px;">
        <div class="span3" >
            <img src="{{ STATIC_URL }}img/box_legenda_danno.png">
            Stima del danno
        </div>
    </div>

    <div class="row" style="margin-top:12px;">
        <div class="span3" >
            <img src="{{ STATIC_URL }}img/box_legenda_donazioni.png">
            Donazioni ricevute
        </div>
    </div>


    <div class="row">
        <div class="span12">
            <div style="margin-top:25px;margin-bottom: 12px;">Andamento nel tempo delle donazioni</div>
            <div id="graph-container"></div>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            {% if donazioni_categorie_list %}
                <div class="titolo donazioni"> Donazioni ricevute</div>
                <div class="subtitle">Ripartizione delle donazioni per soggetti</div>
                {% if donazioni_categorie_pie %}
                    <div id="don_pie"></div>
                {% endif %}
                <div class="project_list">
                    {% for p in donazioni_categorie_list %}
                        {% ifnotequal p.sum "0,00" %}
                            <div class="project_row ">
                                <div class="box">
                                    <div class="n_progetti">
                                        <span class="cypher">
                                            {{ p.c }} da
                                        </span>

                                        {% if p.tipologia__denominazione != tipologia_privati.denominazione %}
                                            <a href="{% url donazioni-tipologia p.tipologia__slug %} ">
                                                {{ p.tipologia__denominazione }}
                                            </a>
                                            {% if p.tipologia__denominazione == tipologia_regione_emilia.denominazione %}
                                                <span style="color:black">(compresi SMS)</span>
                                            {% endif %}
                                        {% else %}
                                            {{ p.tipologia__denominazione }}
                                        {% endif %}
                                    </div>
                                    <div class="importo">{{ p.sum}} euro</div>
                                </div>
                                <div class="spacer"></div>
                            </div>
                        {% endifnotequal %}
                    {% endfor %}
                    <div class="project_row ">
                        <div class="box">
                            <div class="n_progetti" >
                                    <span class="cypher">
                                        {{ n_donazioni }}
                                    </span>
                                <a href="{% url donazioni-completa %} ">
                                    Donazioni totali
                                </a>
                            </div>
                            <div class="importo">{{ tot_donazioni_ita }} euro</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="span6">
            {% if donazioni_last %}
                <div id="don_last">
                    <div class="titolo"> Ultime donazioni</div>
                    <div class="subtitle">Ultime donazioni per i Comuni del cratere</div>
                    <div class="container-fluid project_list">

                        {% for p in donazioni_last %}

                            <div class="row-fluid project_row ">
                                <div class="span2 box">
                                    <div class="box_data" >
                                        <div class="day">{{ p.day}}</div>
                                        <div class="month">{{ p.month }}</div>
                                        <div class="year">{{ p.year }}</div>
                                    </div>
                                </div>

                                <div class="span6 text">
                                    <div class="abstract" style="color:black;">
                                        Da
                                        <strong>
                                            {% if p.tipologia.denominazione != tipologia_privati.denominazione%}
                                                <a href="{% url donazioni-tipologia p.tipologia.slug %}">
                                                    {{ p.tipologia.denominazione }}
                                                </a>
                                            {% else %}
                                                {{ p.tipologia.denominazione }}
                                            {% endif %}
                                        </strong>
                                    </div>
                                </div>
                                <div class="span4">
                                    {% ifnotequal p.importo "0,00" %}
                                        <div class="importo">{{ p.importo}} euro</div>
                                    {% endifnotequal %}
                                </div>
                            </div>
                            <div class="row-fluid project_row ">
                                <div class="span12 spacer"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}


{% block map-data %}
    {% if territori %}
        <script>

            var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
            cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

            //set map bounds
            var southWest = new L.LatLng({{ map_minlat|stringformat:"f" }}, {{ map_minlon|stringformat:"f" }}),
            northEast = new L.LatLng({{ map_maxlat|stringformat:"f" }}, {{ map_maxlon|stringformat:"f" }}),
            bounds = new L.LatLngBounds(southWest, northEast);

            var tonerLayer = new L.StamenTileLayer("toner-lite");
            var map = new L.Map('riepilogo-map', {
                minZoom: 8,
                maxZoom: 15,
                maxBounds: bounds,
                scrollWheelZoom: false
            });


            map.setView(new L.LatLng({{ map_center_lat|stringformat:"f" }}, {{ map_center_lon|stringformat:"f" }}), 10).addLayer(cloudmade);
            map.addLayer(tonerLayer);

            {% for t in territori %}
                {% if t.get_angolo_donazioni %}

                    /*Comune di {{ t.denominazione }} */

    {#                disegna il semicerchio verde, le donazioni#}

                    L.circle([{{ t.gps_lat|stringformat:"f" }}, {{ t.gps_lon|stringformat:"f" }}], {{ t.get_marker_size|floatformat:"0" }},
                            {
                                fill: true,
                                fillColor:'#a1ba03',
                                fillOpacity: 0.5,
                                color: '#a1ba03',
                                opacity: 0.5,
                                startAngle: 0,
                                stopAngle:{{ t.get_angolo_donazioni|stringformat:"f" }}
                            }
                    ).bindLabel('Comune di {{ t.denominazione }} ({{ t.get_provincia.sigla_provincia }})', { noHide: true })
                            .addTo(map)
                            .bindPopup('<a href="{% url territorio_detail t.slug %}">' +
                                "Comune di {{ t.denominazione }} ({{ t.get_provincia.sigla_provincia }})</a><BR>"+
                                "<strong>Danno totale:</strong> {{ t.get_danno_ita }} Euro<BR>"+
                                "<strong>Donazioni totali:</strong> {{ t.get_donazioni_ita }} Euro<BR>"+
                                "<strong>Percentuale donazioni ricevute:</strong> {{ t.get_percentuale_donazioni|floatformat:"2" }}%");



                    {% if t.get_angolo_donazioni < 359 %}
                        {#                disegna il semicerchio blu, il danno #}

                        L.circle([{{ t.gps_lat|stringformat:"f" }}, {{ t.gps_lon|stringformat:"f" }}],{{ t.get_marker_size|floatformat:"0" }},
                                {
                                    fill: true,
                                    fillColor:'#18a3c9',
                                    fillOpacity: 0.5,
                                    color: '#18a3c9',
                                    opacity: 0.5,
                                    startAngle: {{ t.get_angolo_donazioni|stringformat:"f" }},
                                    stopAngle: 360
                                }
                        ).bindLabel('Comune di {{ t.denominazione }} ({{ t.get_provincia.sigla_provincia }})', { noHide: true })
                            .addTo(map)
                                .bindPopup('<a href="{% url territorio_detail t.slug %}">' +
                                "Comune di {{ t.denominazione }} ({{ t.get_provincia.sigla_provincia }})</a><BR>"+
                                "<strong>Danno totale:</strong> {{ t.get_danno_ita }} Euro<BR>"+
                                "<strong>Donazioni totali:</strong> {{ t.get_donazioni_ita }} Euro<BR>"+
                                "<strong>Percentuale donazioni ricevute:</strong> {{ t.get_percentuale_donazioni|floatformat:"2" }}%");


                    {% endif %}
                {% endif %}
            {% endfor %}

        </script>
    {% endif %}
{% endblock %}



{% block graph-data %}
    <script>

        var chart1; // globally available
        var piechart;
        $(document).ready(function() {


            /*SPLINE CHART*/
            chart1 = new Highcharts.Chart({
            chart: {
            renderTo: 'graph-container',
                type: 'spline',
            plotBackgroundColor: '#fff'
            },
            title: {
                text: ''
            },
            tooltip: {
            formatter: function() {

                var don_ita = new Array();
                {% for d in donazioni_spline %}
                    don_ita["{{ d.month }}"]="{{ d.sum_ita }}";
                {% endfor %}

                return '<b>'+ this.x  +'</b><br/>'+
                        ''+ don_ita[this.x] +' Euro';
            }
            },
            yAxis: {
                min:0,

                labels: {
                    formatter: function() {

                        return this.value.formatMoney(0,"",".",",")
                    }
                },
                title: {
                    text: 'Euro'
                }

            },
            xAxis: {
                type: 'datetime',
                labels:
                {
                    enabled: true
                },

                categories:[
                    {% for d in donazioni_spline %}
                        "{{ d.month }}",
                    {% endfor %}
                ]


            },
            series: [{
                name: 'Donazioni',
                data:[
                    {% for d in donazioni_spline %}
                        {{ d.sum }},
                    {% endfor %}
                ]
            } ]
            });

            {% if donazioni_categorie_pie|length > 1 and tot_donazioni%}
                /*PIE CHART*/
                piechart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'don_pie',
                        type: 'pie',
                        plotBackgroundColor: '#fff'

                    },
                    tooltip: {
                        formatter: function() {
                            return '<div class="tooltip-box"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'<small>%</small></div>';
                        },
                        useHTML: true,
                        backgroundColor: '#F7F6F1',
                        borderWidth: 0,
                        shadow: false,
                        style: {
                            width: '150px',
                            'min-height': '20px'
                        }
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                color: '#000000',
                                connectorColor: '#000000',
                                percentageDecimals: 2,
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.y +' Euro';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Tipologia cedente',
                        title: 'Donazioni per tipologia',
                        data: [
                            {% for d in donazioni_categorie_pie %}
                                ['{{ d.tipologia__denominazione }}',{{ d.sum }}],
                            {% endfor %}
                        ]
                    }]
                });
            {% endif %}
    });
    </script>
{% endblock %}