{% extends 'base.html' %}
{% load italianize %}
{% load bootstrap_pagination %}
{% block head-title %}Donazioni{% endblock %}

{% block content %}

    <section class="latest">
        <div class="container">
            <div class="row lists">

                <div class="col-md-12">
                	<h2>Donazioni</h2>

                    <ul class="list">
                        {% for donazione in object_list %}
                            <li>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if donazione.tipologia_cedente == '4' %}
                                            {{ donazione.get_tipologia_cedente_display|title }}
                                        {% else %}

                                            {{ donazione.denominazione|title }}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2"><span class="euros">{{ donazione.importo|italianize }} </span>€</div>
                                    <div class="col-md-2">{{ donazione.data }}</div>
                                    <div class="col-md-4">A favore del <a href="{% url 'localita' donazione.territorio.slug %}" >Comune di {{ donazione.territorio.nome_con_provincia|title }}</a></div>
                                </div>

                                {% for ip in donazione.interventi_programma.all %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="{% url 'intervento-programma' ip.slug %}" style="font-size: 18px!important;">
                                                {{ ip.denominazione }}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}

                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% if object_list %}
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    {% bootstrap_paginate page_obj range=10 show_first_last='true' %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}