<div id="error_container">
</div>

<div class="row-fluid">
    <div class="span12">
        <h1>
            DONA PER LA RICOSTRUZIONE
        </h1>

    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <form action="https://payertest.lepida.it/payer/pagonet/extern.do" method="POST" class="form-horizontal">
            Compila il modulo per aiutare la ricostruzione. <br/>
            Verrai indirizzato nel sito per i <strong>pagamenti sicuri</strong> della Regione Emilia-Romagna."
            <fieldset>
                <legend>Anagrafica donatore</legend>
                
                 <div class="control-group thin_control_group">
                    <label class="control-label" style="font-weight: bold;">Cognome / Rag.Sociale:</label>
                    <div class="controls">
                        <input type="text" id="payerCognomeContribuente" name="payerCognomeContribuente" value="" />
                    </div>
                </div>
                 <div class="control-group thin_control_group">
                    <label class="control-label" >Nome:</label>
                    <div class="controls">
                        <input type="text" name="payerNomeContribuente" value="" />
                    </div>
                 </div>

                 <div class="control-group thin_control_group">
                    <label class="control-label" style="font-weight: bold;"> Codice Fiscale / P.Iva:</label>
                    <div class="controls">
                        <input type="text" id="payerCodiceFiscaleContribuente" name="payerCodiceFiscaleContribuente" value=""  />
                    </div>
                 </div>
            </fieldset>

            <fieldset>
                <legend>Dati donazione</legend>
                <div class="control-group thin_control_group">
                    <label class="control-label" style="font-weight: bold;" >Importo Totale:</label>
                    <div class="controls">
                        <div class="input-prepend input-append">
                            <span class="add-on">&euro;</span>
                            <input style="text-align:right;width: 100px;"
                                   name="payerImporto"
                                   id="payerImporto"
                                   type="text" value=""
                                   placeholder="Importo"
                                   class="cssImporto appendedPrependedInput"
                                    />
                            <span class="add-on">,</span>
                            <input style="width: 50px;"
                                   name="payerImportoCent"
                                   id="payerImportoCent"
                                   type="text"
                                   value="00"
                                   maxlength="2" class="cssImportoCent" />
                        </div>
                    </div>
                </div>

                 <div class="control-group thin_control_group">
                     <label class="control-label" >Causale Servizio:</label>
                     <div class="controls">
                        <input type="text" id="payerCausale" name="payerCausale" placeholder="Donazione per il Comune di ..." maxlength="40"/>
                     </div>
                 </div>
                <div class="control-group thin_control_group">
                     <label class="control-label" >Progetto per la Ricostruzione:</label>
                    <div class="controls">
                        <input type="text" id="payerCespite" name="payerCespite" value="" maxlength="40"/>
                    </div>
                </div>
            </fieldset>

            <input type="submit" class="btn" name="btnConferma" id="donation_submit" value="Conferma" />

            {#    tipologia servizio: spontaneo#}
            <input type="hidden" name="payerTipologiaServizio" value="RIC" />
            {#    ente: Regione Emilia-Romagna#}
            <input type="hidden" name="payerCodiceEnte" value="12781" />
            <input type="hidden" name="formName" value="formExtern" />
            <input type="hidden" name="payerTipoBollettino" value="SPOM" />
            <input type="hidden" name="payerCodiceUtente" value="01RER" />
            <input type="hidden" name="payerTipoUfficio" value="" />
            <input type="hidden" name="payerCodiceUfficio" value="" />
            <input type="hidden" name="payerIndirizzoContribuente" value="" />
            <input type="hidden" name="payerCittaContribuente" value="" />
            <input type="hidden" name="payerProvinciaContribuente" value="" />
            <input type="hidden" name="payerAnno" value="2013"/><br/>

        </form>

    </div>
</div>

