{% extends "base.html" %}
{% load humanize %}
{% block title %}Donazioni{% endblock %}

{% block page-title %}Donazioni{% endblock %}
{% block stima-danno %}{{ tot_danno|intword }}{% endblock %}
{% block tot-donazioni %}{{ tot_donazioni|intword }}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="/donazioni/">Donazioni</a>{% endblock %}

{% block content %}
    {{ block.super }}
    <pre>

    {{ tot_donazioni|intword }}
    donazionispline: {{ donazioni_spline  }}

    </pre>

    <div id="graph-container"></div>
    <div id="pie-container"></div>
    <div id="lista-donazioni">
    <pre>
        {% for d in donazioni_tipologia %}
           {{ d.tipologia }},{{ d.count }},nome-tipologia, {{ d.somma }}
        {% endfor %}
    </pre>
    </div>

{% endblock %}


{% block grafici %}
    <script>
        var chart1; // globally available
        var piechart;
        $(document).ready(function() {
            chart1 = new Highcharts.Chart({
            chart: {
            renderTo: 'graph-container',
                type: 'spline',
            plotBackgroundColor: '#fff'
            },
            title: {
                text: ''
            },
            tooltip: {
            formatter: function() {
            return '<b>'+ this.series.name +'</b><br/>'+
            this.x +': '+ this.y +' Euro';
            }
            },
            yAxis: {
                min:0,

                labels: {
                    formatter: function() {
                        return this.value;
                    }
                },
                title: {
                    text: 'Euro'
                }

            },
            xAxis: {
                type: 'datetime',
                labels:
                {
                    enabled: true
                },

                categories:[
                    {% for d in donazioni_spline %}
                        "{{ d.month }}",
                    {% endfor %}
                ]


            },
            series: [{
                name: 'Donazioni',
                data:[
                    {% for d in donazioni_spline %}
                        {{ d.sum }},
                    {% endfor %}
                ]
            } ]
            });

            /*PIE CHART*/
            piechart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pie-container',
                    type: 'pie',
                    plotBackgroundColor: '#fff'

                },
                tooltip: {
                    formatter: function() {
                        return '<div class="tooltip-box"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'<small>%</small></div>';
                    },
                    useHTML: true,
                    backgroundColor: '#F7F6F1',
                    borderWidth: 0,
                    shadow: false,
                    style: {
                        width: '150px',
                        'min-height': '20px'
                    }
                },
                title: {
                    text: 'Donazioni ricevute per tipologia'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            percentageDecimals: 2,
                            formatter: function() {
                                return '<b>'+ this.point.name +'</b>: '+ this.y +' Euro';
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Tipologia cedente',
                    title: 'Donazioni per tipologia',
                    data: [
                        {% for d in donazioni_tipologia %}
                            ['{{ d.tipologia__denominazione }}',{{ d.sum }}],
                        {% endfor %}
                    ]
                }]



        });

    });
    </script>
{% endblock %}