{% extends 'base.html' %}
{% load italianize %}
{% load bootstrap_pagination %}
{% block head-title %}Donazioni{% endblock %}

{% block content %}
    <h1>Donazioni</h1>
    {% for donazione in object_list %}
        <div class="row" style="border-bottom: 1px solid gray;">
            <div class="col-md-12">{{ donazione.importo|italianize }} Euro -
                {% if donazione.tipologia_cedente == '4' %}
                    {{ donazione.get_tipologia_cedente_display|title }}
                {% else %}

                    {{ donazione.denominazione|title }}
                {% endif %},
                {{ donazione.territorio.nome_con_provincia|title }},
                {{ donazione.data }},
                {{ donazione.get_tipologia_donazione_display|title }}

            </div>
        </div>
    {% endfor %}

{% bootstrap_paginate page_obj range=10 show_first_last='true' %}

{% endblock %}