{% extends "base.html" %}
{% load digg_paginator %}

{% block css_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/digg_paginator.css">
{% endblock %}

{% block title %}
    Donazioni {% if tipologia %}- {{tipologia.denominazione}}{% endif %}{% if comune %}- {{ comune.denominazione }} ({{ comune.get_provincia.sigla_provincia }}){% endif %}
{% endblock %}

{% block main-title-class %}hidden{% endblock %}
{% block main-subtitle-class %}project_list{% endblock %}
{% block boxes-class %}hidden{% endblock %}

{% block main-subtitle %}
    <strong>
        {% if tipologia or comune %}
            Donazioni
            {% if tipologia %}da <a href="{% url donazioni-tipologia tipologia.slug %}">{{tipologia.denominazione}}</a>{% endif %}{% if comune %} per il <a href="{% url territorio_detail comune.slug %} ">Comune di {{ comune.denominazione }} ({{ comune.get_provincia.sigla_provincia }})</a>{% endif %},
         {% else %}
            Tutte le donazioni
        {% endif %}
    </strong>
    {% if n_donazioni > 0 %}
        ({{ n_donazioni }} {% if n_donazioni > 1 %}donazioni{% else %}donazione{% endif %}
        {% ifnotequal tot_donazioni "0,00" %} per {{ tot_donazioni }} euro{% endifnotequal %})
    {% endif %}
{% endblock %}


{% block main-search %}
    {% if show_search %}
        <div class="">
            <form method="get" action="/territori/" class="navbar-search form-search pull-left">
                <section  class="ui-widget">
                    <input type="text"
                           class="search-query "
                           id="territorio-search"
                           placeholder="Cerca tra i Comuni" />
                </section>
            </form>
        </div>
    {% endif %}
{% endblock %}



{% block main-content %}
    <div class="container" id="project_list">
        {% if donazioni_page %}
            {% for result in donazioni_page %}
                <div class="row project_row">
                    <div class="span7 spacer" >
                    </div>
                </div>
                <div class="row project_row">
                    <div class="span1 ">
                        <div class="box_data" >
                            <div class="day">{{ result.day}}</div>
                            <div class="month">{{ result.month }}</div>
                            <div class="year">{{ result.year }}</div>
                        </div>
                    </div>
                    <div class="span4 text ">
                        <div class="row">
                            <div class="span4 titolo">
                                {{ result.donazione.denominazione|safe }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                Per il Comune di
                                <a href="{% url territorio_detail result.donazione.territorio.slug %}" >
                                    {{ result.donazione.territorio.denominazione }}
                                    ({{ result.donazione.territorio.get_provincia.sigla_provincia}})
                                </a>
                            </div>
                        </div>
                    </div>
                    {% ifnotequal result.donazione.get_importo_ita "0,00" %}
                        <div class="span2 box">
                            <div class="importi">
                                {{ result.donazione.get_importo_ita }} euro
                            </div>
                        </div>
                    {% endifnotequal %}
                </div>
            {% endfor %}
            <div class="row project_row">
                <div class="span7 spacer">
                </div>
            </div>
            {% if n_pages > 1 %}
                <div class="row" style="margin: 0 auto;">
                    <div class="span7" >
                        {% digg_paginator %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row project_row">
                <div class="span7 spacer">
                </div>
            </div>
            Non è stata trovata nessuna donazione
            {% if tipologia %}da
                <a href="{% url donazioni-tipologia tipologia.slug %}">
                    {{tipologia.denominazione}}
                </a>
            {% endif %}
            {% if comune %} per il
                <a href="{% url territorio_detail comune.slug %} ">
                    Comune di {{ comune.denominazione }} ({{ comune.get_provincia.sigla_provincia }})
                </a>
            {% endif %},
        {% endif %}
    </div>

{% endblock %}

{% block comment %}

{% endblock %}

{% block comuni-search %}
    {% if show_search %}
        <script type="text/javascript">

            $(document).ready(function() {
                $( "#territorio-search" ).autocomplete({
                    source: function( request, response ) {
                        $.getJSON(
                                "{{ SITE_URL }}/territori.json",
                                {'qterm': request.term },
                                function( data ) {
                                    response( $.map( data, function( item ) {
                                        return {
                                            label: item.fields.denominazione,
                                            value: item.fields.slug
                                        }
                                    }));
                                }
                        );
                    },
                    minLength: 4,
                    select: function( event, ui ) {
                        window.location.href = "../{{ search_result_link }}"+ ui.item.value;

                    },
                    open: function() {
                        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                    },
                    close: function() {
                        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                    }
                }).css('z-index', 10000);

            });
        </script>
    {% endif %}
{% endblock %}