{% extends "static.html" %}

{% block title %}FAQ{% endblock %}
{% block main-title %}FAQ{% endblock %}
{% block main-subtitle %}{% endblock %}

{% block main-content %}
    <div class="row">
        <div class="span7" id="faq-page">
            <ol class="faq-list">
                <li>
                    <p>
                        Trovo tutte le donazioni ricevute sul sito?
                    </p>
                 </li>
            </ol>
            <p>
                Sul sito si trovano tutte le donazioni incassate dai Comuni, ovvero quelle che sono già in disponibilità
                e che possono essere già utilizzate.
            </p>

            <ol class="faq-list" start="2">
                <li>
                    <p>
                        Di quanti comuni si hanno i dati completi delle donazioni?
                    </p>
                </li>
            </ol>
            <p>
                Abbiamo i dati delle donazioni ricevute da {{ n_comuni_donazioni }} comuni su {{ territori_cratere|length }}.
            </p>
            <ol class="faq-list" start="3">
                <li>
                    <p>
                        Di quanti comuni si hanno i dati sui progetti?
                    </p>
                </li>
            </ol>
            <p>
                I progetti sono riferiti a {{ n_comuni_progetti }} comuni su  {{ territori_cratere|length }},
                per un totale di {{ n_progetti }} progetti.
            </p>
            <ol class="faq-list" start="4">
                <li>
                    <p>
                        Che significa stima del danno?
                    </p>
                </li>
            </ol>
            <p>
                È la quantificazione del costo da sostenere per riportare l'edificio in condizioni
                di poter ospitare, in completa sicurezza, le funzioni a cui è destinato.

            </p>
            <ol class="faq-list" start="5">
                <li>
                    <p>
                    Come mai nel sito non ci sono i finanziamenti pubblici?
                    </p>
                </li>
            </ol>
            <p>
                Ci sono i finanziamenti che provengono dalla Regione Emilia Romagna, la quale, in molti casi,
                con la struttura commissariale funge da collettore dei finanziamenti di natura statale o europea
            </p>
            <ol class="faq-list" start="6">
                <li>
                    <p>
                    Verrà seguito lo stato di avanzamento dei lavori per i progetti?
                    </p>
                </li>
            </ol>
            <p>
                Si: si sta predisponendo una specifica ordinanza commissariale che definisce i modelli di
                rendicontazione degli stati di avanzamento da parte dei Comuni alla struttura commissariale.
                Questo consentirà di aggiornare anche il sito.

            </p>
            <ol class="faq-list" start="7">
                <li>
                    <p>
                    Come mai in alcune categorie di donatori trovo donatori di altra natura?
                    </p>
                </li>
            </ol>
            <p>
                Stiamo ripulendo i dati con i prossimi aggiornamenti il problema verrà risolto.
            </p>
            <ol class="faq-list" start="8">
                <li>
                    <p>
                    Perché non sono visibili i nomi dei cittadini che hanno donato?
                    </p>
                </li>
            </ol>
            <p>
                Per rispetto della legge sulla privacy: essi però possono chiedere di essere visibili,
                in tal caso il loro nominativo sarà reso palese.
            </p>
            <ol class="faq-list" start="9">
                <li>
                    <p>
                    Sono previsti aggiornamenti dei dati?
                    </p>
                </li>
            </ol>
            <p>
                Certo, ogni settimana i dati sulle donazioni saranno aggiornati.
            </p>
            <ol class="faq-list" start="10">
                <li>
                    <p>
                    E' previsto il rilascio di open data? E con quale licenza d'uso?
                    </p>
                </li>
            </ol>
            <p>
                Si, stiamo lavorando per pubblicare i dati in formato aperto.
            </p>
            <p>
                La licenza di utilizzo è
                    <a href="http://creativecommons.org/licenses/by/3.0/it/deed.it">
                        Creative Commons Attribuzione 3.0 (CC BY 3.0 IT){% spaceless %}
                    </a>.{% endspaceless %}
            </p>
            <ol class="faq-list" start="11">
                <li>
                    <p>
                    E' possibile il riuso del software?
                    </p>
                </li>
            </ol>
            <p>
                Certo, il software è rilasciato con licenza
                <a href="http://www.gnu.org/licenses/gpl.html">
                    GNU-GPL v3{% spaceless %}
                </a>.{% endspaceless %}
            </p>
            <p>
                Puoi scaricare il codice su
                <a href="https://github.com/DeppSRL/open_ricostruzione">
                    Git Hub{% spaceless %}
                </a>.{% endspaceless %}
            </p>

        </div>
    </div>
{% endblock %}