{% extends "base.html" %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block show-content %}hidden{% endblock %}

{% block show-home %}visible{% endblock %}

{% block data-content %}
    <div class="container">
        <div class="row">
            <div class="span12 titolo "> Come procede</div>
            <div class="span12 subtitle">Gli ultimi post dal blog di Open Ricostruzione</div>
        </div>
        <div class="row">
            <div class="span12 news-spacer"></div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="news_big news_list ">
                    <div class="box">
                        <div class="row">
                            <div class="box_data span1" >
                                <a href="../news/{{ news_big.slug }}">
                                    <div class="day">{{ news_big.day}}</div>
                                    <div class="month">{{ news_big.month}}</div>
                                    <div class="year">{{ news_big.year}}</div>
                                </a>
                            </div>
                            <div class="text span5" style="color:black;">
                                <div class="title">
                                    <a href="../news/{{ news_big.slug }}">
                                        {{ news_big.title }}
                                    </a>
                                </div>
                                <div class="abstract">
                                    <a href="../news/{{ news_big.slug }}">
                                        {{ news_big.abstract }}
                                    </a>
                                </div>
                                <div class="body">
                                    {{ news_big.body|truncatechars:300 }}
                                    <br/>
                                    <a href="../news/{{ news_big.slug }} ">Leggi tutto</a>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                </div>
            </div>
            <div class="span6">
                {% for n in news_small%}
                    <div class="row">
                        <div class="news_small news_list">
                            <div class="box">
                                <div class="row">
                                    <div class="span1 box_data" >
                                        <a href="../news/{{ n.slug }}">
                                            <div class="day">{{ n.day}}</div>
                                            <div class="month">{{ n.month }}</div>
                                            <div class="year">{{ n.year }}</div>
                                        </a>
                                    </div>
                                    <div class="text span5" style="color:black;">
                                        <div class="title">
                                            <a href="../news/{{ n.slug }}">
                                                {{ n.title }}
                                            </a>
                                        </div>
                                        <div class="abstract">
                                            <a href="../news/{{ n.slug }}">
                                                {{ n.abstract }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter0 == 0  %}
                                <div class="spacer news-spacer"></div>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="span12 news-spacer"></div>
        </div>
    </div>

    <div class="container" id="home-map">
        <div class="row">
            <div class="span12">
                <img src="../static/img/home_map.jpg" />
            </div>
        </div>
    </div>

    <div class="container content">
        <!-- PIE CHARTS -->
        <div class="row"  >
            <div class="span6 ">
                {% if progetti_categorie %}
                    <div class="row-fluid">
                        <div class="span12 titolo danno"> Progetti per la ricostruzione</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 subtitle">Ripartizione dei danni per categorie</div>
                    </div>
                    <div class="row-fluid">
                        {% if progetti_categorie|length > 1 %}
                            <div class="span12 pie" id="proj_pie"></div>
                        {% endif %}
                    </div>
                    <div class="row-fluid">
                        <div class="project_list span12">
                            {% for p in progetti_categorie %}
                                {% if p.sum > 0 %}
                                    <div class="project_row ">
                                        <div class="box">
                                            <div class="n_progetti">{{ p.c }} <a href="../tipologie-progetto/">{{ p.tipologia__denominazione }}</a></div>
                                            <div class="importo">{{ p.sum|floatformat}} euro</div>
                                        </div>
                                        <div class="spacer"></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div><!-- /span -->
            <div class="span6 ">
                {% if donazioni_categorie %}
                        <div class="row-fluid">
                            <div class="span12 titolo donazioni"> Donazioni ricevute</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 subtitle">Ripartizione delle donazioni per soggetti</div>
                        </div>
                        <div class="row-fluid">
                            {% if donazioni_categorie|length > 1 %}
                                <div class="span12 pie" id="don_pie"></div>
                            {% endif %}
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="project_list">
                                    {% for p in donazioni_categorie %}
                                        {% if p.sum > 0 %}
                                            <div class="project_row ">
                                                <div class="box">
                                                    <div class="n_progetti">{{ p.c }} da {{ p.tipologia__denominazione }}</div>
                                                    <div class="importo">{{ p.sum|floatformat}} euro</div>
                                                </div>
                                                <div class="spacer"></div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                {% endif %}
            </div><!-- /span -->
        </div> <!-- /row -->
        <div class="row">
            <div class="pie-spacer span12"></div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="comuni_evidenza" class="evidenza">
                    <div class="titolo" > Comuni oggi in evidenza</div>
                    <div class="subtitle">Aggregato dei danni per Comune</div>
                    <div class="row-fluid" style="border-bottom:1px solid #CCCCCC;">
                        <div class="span3" style="font-weight: bold;">Comune</div>
                        <div class="span3" style="font-weight: bold;">Danno</div>
                        <div class="span3" style="font-weight: bold;">Donazione</div>
                    </div>
                    {% for c in comuni_evidenza %}
                        <div class="row-fluid" style="border-bottom:1px solid #CCCCCC;">
                            <div class="span3" style="color: #4467af;">
                                <a href="../comune/{{ c.slug }}">{{ c.denominazione }} ({{ c.get_provincia.sigla_provincia }})</a>
                            </div>
                            <div class="span3" style="">{{ c.p_sum|floatformat:0}} euro</div>
                            <div class="span3" style="">{{ c.d_sum }} euro</div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="progetti_evidenza" class="evidenza">
                    <div class="titolo" > Progetti oggi in evidenza</div>
                    <div class="subtitle">Tre progetti in rilievo</div>
                    <div class="row-fluid" style="border-bottom:1px solid #CCCCCC;">
                        <div class="span3" style="font-weight: bold;">Progetto</div>
                        <div class="span3" style="font-weight: bold;">Tipologia</div>
                        <div class="span3" style="font-weight: bold;">Danno</div>
                    </div>
                    {% for p in progetti_evidenza %}
                        <div class="row-fluid" style="border-bottom:1px solid #CCCCCC;">
                            <div class="span3" style="color: #4467af;">
                                <a href="{% url progetto_detail p.slug %} ">{{ p.denominazione }} </a>
                            </div>
                            <div class="span3" style=""><a href="../tipologie-progetto/">{{ p.tipologia.denominazione }}</a></div>
                            <div class="span3" style="">{{ p.riepilogo_importi }} euro</div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div id="don_last" class="evidenza">
                    <div class="titolo"> Ultime donazioni</div>
                    {#                    <div class="subtitle"></div>#}
                    <div class="project_list">

                        <div class="project_row ">
                            <div class="box">
                                <div class="n_progetti">
                                    Concerto Campovolo
                                </div>
                                <div class="importo">{{ donazioni_campovolo|floatformat }} euro</div>
                            </div>
                            <div class="spacer"></div>
                        </div>


                        <div class="project_row ">
                            <div class="box">
                                <div class="n_progetti">
                                    Ricevute tramite SMS
                                </div>
                                <div class="importo">{{ donazioni_sms|floatformat }} euro</div>
                            </div>
                            <div class="spacer"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block graph-data %}


    <script>

        var piechart1, piechart2;
        $(document).ready(function() {


            /*PIE CHART*/
            {% if progetti_categorie %}
                /*TIPOLOGIA PROGETTI */
                piechart1 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'proj_pie',
                        type: 'pie',
                        plotBackgroundColor: '#fff'

                    },
                    tooltip: {
                        formatter: function() {
                            return '<div class="tooltip-box"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'<small>%</small></div>';
                        },
                        useHTML: true,
                        backgroundColor: '#F7F6F1',
                        borderWidth: 0,
                        shadow: false,
                        style: {
                            width: '150px',
                            'min-height': '20px'
                        }
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',

                            dataLabels: {
                                enabled: false,
                                color: '#000000',
                                connectorColor: '#000000',
                                percentageDecimals: 2,
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.y +' Euro';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Tipologia progetto',
                        title: 'Progetti per tipologia',
                        data: [
                            {% for p in progetti_categorie %}
                                ['{{ p.tipologia__denominazione }}',{{ p.sum|floatformat }}],
                            {% endfor %}
                        ]
                    }]

                });
            {% endif %}
            {% if donazioni_categorie%}
                /*CATEGORIA DONAZIONI */

                piechart2 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'don_pie',
                        type: 'pie',
                        plotBackgroundColor: '#fff'

                    },
                    tooltip: {
                        formatter: function() {
                            return '<div class="tooltip-box"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'<small>%</small></div>';
                        },
                        useHTML: true,
                        backgroundColor: '#F7F6F1',
                        borderWidth: 0,
                        shadow: false,
                        style: {
                            width: '150px',
                            'min-height': '20px'
                        }
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                color: '#000000',
                                connectorColor: '#000000',
                                percentageDecimals: 2,
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.y +' Euro';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Tipologia progetto',
                        title: 'Donazioni per tipologia',
                        data: [
                            {% for d in donazioni_categorie %}
                                ['{{ d.tipologia__denominazione }}',{{ d.sum }}],
                            {% endfor %}
                        ]
                    }]
                });
            {% endif %}
        });
</script>
{% endblock %}
