{% extends "base.html" %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block show-content %}hidden{% endblock %}

{% block show-home %}visible{% endblock %}

{% block data-content %}
    <div class="container">
        <div class="row">
            <div class="span12 titolo "> Come procede</div>
            <div class="span12 subtitle">Gli ultimi post dal blog di Open Ricostruzione</div>
        </div>
        <div class="row">
            <div class="span12 news-spacer"></div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="news_big news_list ">
                    <div class="box">
                        <div class="row">
                            <div class="box_data span1" >
                                <a href="../news/{{ news_big.slug }}">
                                    <div class="day">{{ news_big.day}}</div>
                                    <div class="month">{{ news_big.month}}</div>
                                    <div class="year">{{ news_big.year}}</div>
                                </a>
                            </div>
                            <div class="text span5" style="color:black;">
                                <div class="title">
                                    <a href="../news/{{ news_big.slug }}">
                                        {{ news_big.title }}
                                    </a>
                                </div>
                                <div class="abstract">
                                    <a href="../news/{{ news_big.slug }}">
                                        {{ news_big.abstract }}
                                    </a>
                                </div>
                                <div class="body">
                                    {{ news_big.body|truncatechars:300 }}
                                    <br/>
                                    <a href="../news/{{ news_big.slug }} ">Leggi tutto</a>

                                </div>

                            </div>
                        </div>
                    </div>
{#                    <div class="spacer"></div>#}
                </div>
            </div>
            <div class="span6">
                {% for n in news_small%}
                    <div class="row">
                        <div class="news_small news_list">
                            <div class="box">
                                <div class="row">
                                    <div class="span1 box_data" >
                                        <a href="../news/{{ n.slug }}">
                                            <div class="day">{{ n.day}}</div>
                                            <div class="month">{{ n.month }}</div>
                                            <div class="year">{{ n.year }}</div>
                                        </a>
                                    </div>
                                    <div class="text span5" style="color:black;">
                                        <div class="title">
                                            <a href="../news/{{ n.slug }}">
                                                {{ n.title }}
                                            </a>
                                        </div>
                                        <div class="abstract">
                                            <a href="../news/{{ n.slug }}">
                                                {{ n.abstract }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter0 == 0  %}
                                <div class="spacer news-spacer"></div>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="span12 news-spacer"></div>
        </div>
    </div>

    <div class="container" id="home-map">
        <div class="row" style="margin-top:25px;">
            <div class="span12" id="riepilogo-map">
            </div>
        </div>
        <div class="row" style="margin-top:12px;">
            <div class="span3" >
                <img src="{{ STATIC_URL }}img/box_legenda_danno.png">
                Stima del danno
            </div>
        </div>

        <div class="row" style="margin-top:12px;">
            <div class="span3" >
                <img src="{{ STATIC_URL }}img/box_legenda_donazioni.png">
                Donazioni ricevute
            </div>
        </div>
    </div>



    <div class="container content">
        <!-- PIE CHARTS -->
        <div class="row"  >
            <div class="span6 ">
                {% if progetti_categorie_list %}
                    <div class="row-fluid">
                        <div class="span12 titolo danno"> Progetti per la ricostruzione</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 subtitle">Ripartizione dei danni per categorie</div>
                    </div>
                    <div class="row-fluid">
                        {% if progetti_categorie_list|length > 1 %}
                            <div class="span12 pie" id="proj_pie"></div>
                        {% endif %}
                    </div>
                    <div class="row-fluid">
                        <div class="project_list span12">
                            {% for p in progetti_categorie_list %}
                                {% ifnotequal p.sum "0,00" %}
                                    <div class="project_row ">
                                        <div class="box">
                                            <div class="n_progetti">{{ p.c }} <a href="{% url progetti-tipologia p.tipologia__slug %}">{{ p.tipologia__denominazione }}</a></div>
                                            <div class="importo">{{ p.sum}} euro</div>
                                        </div>
                                        <div class="spacer"></div>
                                    </div>
                                {% endifnotequal %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div><!-- /span -->
            <div class="span6 ">
                {% if donazioni_categorie_list %}
                        <div class="row-fluid">
                            <div class="span12 titolo donazioni"> Donazioni ricevute</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 subtitle">Ripartizione delle donazioni per soggetti</div>
                        </div>
                        <div class="row-fluid">
                            {% if donazioni_categorie_pie|length > 1 %}
                                <div class="span12 pie" id="don_pie"></div>
                            {% endif %}
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="project_list">
                                    {% for p in donazioni_categorie_list %}
                                        {% ifnotequal p.sum "0,00" %}
                                            <div class="project_row ">
                                                <div class="box">
                                                    <div class="n_progetti">{{ p.c }} da
                                                        <a href="" >
                                                            <a href="{% url donazioni-tipologia p.tipologia__slug %}" >
                                                                {{ p.tipologia__denominazione }}
                                                            </a>
                                                        </a>
                                                    </div>
                                                    <div class="importo">{{ p.sum}} euro</div>
                                                </div>
                                                <div class="spacer"></div>
                                            </div>
                                        {% endifnotequal %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                {% endif %}

                <div id="don_last" class="evidenza" style="border:0;">
                    <div class="titolo">Donazioni d'iniziative speciali e SMS</div>
                    <div class="subtitle">I contributi dei cittadini inviati con SMS e gli incassi del concerto Campovolo</div>
                    <div class="project_list">
                        <div class="project_row ">
                            <div class="box">
                                <div class="n_progetti">
                                    Concerto Campovolo
                                </div>
                                <div class="importo">
                                    {% ifnotequal donazioni_campovolo "0,00" %}
                                        {{ donazioni_campovolo }} euro
                                    {% endifnotequal %}
                                </div>
                            </div>
                            <div class="spacer"></div>
                        </div>


                        <div class="project_row ">
                            <div class="box">
                                <div class="n_progetti">
                                    Ricevute tramite SMS
                                </div>
                                <div class="importo">
                                    {% ifnotequal donazioni_sms "0,00" %}
                                        {{ donazioni_sms }} euro
                                    {% endifnotequal %}
                                </div>
                            </div>
                            <div class="spacer"></div>
                        </div>
                    </div>
                </div>
            </div><!-- /span -->
        </div> <!-- /row -->
        <div class="row">
            <div class="pie-spacer span12"></div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="comuni_evidenza" class="evidenza">
                    <div class="titolo" > Comuni oggi in evidenza</div>
                    <div class="subtitle">Aggregato dei danni per Comune</div>
                    <div class="row-fluid" style="border-bottom:1px solid #CCCCCC;">
                        <div class="span3" style="font-weight: bold;">Comune</div>
                        <div class="span3" style="font-weight: bold;">Danno</div>
                        <div class="span3" style="font-weight: bold;">Donazione</div>
                    </div>
                    {% for c in comuni_evidenza %}
                        <div class="row-fluid" style="border-bottom:1px solid #CCCCCC;">
                            <div class="span3" style="color: #4467af;">
                                <a href="{% url territorio_detail c.comune.slug %}">{{ c.comune.denominazione }} ({{ c.comune.get_provincia.sigla_provincia }})</a>
                            </div>
                            <div class="span3" style="font-weight: bold;">
                                {% ifnotequal c.p_sum "0,00" %}
                                    {{ c.p_sum}} euro
                                {% endifnotequal %}
                            </div>
                            <div class="span3" style="font-weight: bold;">
                                {% ifnotequal c.d_sum "0,00" %}
                                    {{ c.d_sum }} euro
                                {% endifnotequal %}
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="progetti_evidenza" class="evidenza">
                    <div class="titolo" > Progetti oggi in evidenza</div>
                    <div class="subtitle">Tre progetti in rilievo</div>
                    <div class="row-fluid" style="border-bottom:1px solid #CCCCCC;">
                        <div class="span3" style="font-weight: bold;">Progetto</div>
                        <div class="span3" style="font-weight: bold;">Tipologia</div>
                        <div class="span3" style="font-weight: bold;">Danno</div>
                    </div>
                    {% for p in progetti_evidenza %}
                        <div class="row-fluid" style="border-bottom:1px solid #CCCCCC;">
                            <div class="span3" style="color: #4467af;">
                                <a href="{% url progetto_detail p.slug %} ">{{ p.denominazione }} </a>
                            </div>
                            <div class="span3" style="">
                                <a href="{% url progetti-tipologia p.tipologia.slug %}">
                                    {{ p.tipologia.denominazione }}
                                </a>
                            </div>
                            {% ifnotequal p.riepilogo_importi "0,00" %}
                                <div class="span3" style="font-weight: bold;">
                                    {{ p.riepilogo_importi }} euro
                                </div>
                            {% endifnotequal %}
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block map-data %}
    {% if territori %}
        <script>

            var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                    cloudmadeAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
                    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

            //set map bounds
            var southWest = new L.LatLng({{ map_minlat|stringformat:"f" }}, {{ map_minlon|stringformat:"f" }}),
                northEast = new L.LatLng({{ map_maxlat|stringformat:"f" }}, {{ map_maxlon|stringformat:"f" }}),
                bounds = new L.LatLngBounds(southWest, northEast);

            var map = new L.Map('riepilogo-map', {
                minZoom: 8,
                maxZoom: 15,
                maxBounds: bounds,
                scrollWheelZoom: false
            });
            map.setView(new L.LatLng({{ map_center_lat|stringformat:"f" }}, {{ map_center_lon|stringformat:"f" }}), 10).addLayer(cloudmade);

            {% for t in territori %}
                {% if t.get_angolo_donazioni %}

                    /*Comune di {{ t.denominazione }} */

                    {#                disegna il semicerchio verde, le donazioni#}

                    L.circle([{{ t.gps_lat|stringformat:"f" }}, {{ t.gps_lon|stringformat:"f" }}], {{ t.get_marker_size|floatformat:"0" }},
                            {
                                fill: true,
                                fillColor:'#a1ba03',
                                fillOpacity: 0.5,
                                color: '#a1ba03',
                                opacity: 0.5,
                                startAngle: 0,
                                stopAngle:{{ t.get_angolo_donazioni|stringformat:"f" }}
                            }
                    ).bindLabel('Comune di {{ t.denominazione }} ({{ t.get_provincia.sigla_provincia }})', { noHide: true })
                            .addTo(map)
                            .bindPopup('<a href="{% url territorio_detail t.slug %}">' +
                            "Comune di {{ t.denominazione }} ({{ t.get_provincia.sigla_provincia }})</a><BR>"+
                            "<strong>Danno totale:</strong> {{ t.get_danno_ita }} Euro<BR>"+
                            "<strong>Donazioni totali:</strong> {{ t.get_donazioni_ita }} Euro<BR>"+
                            "<strong>Percentuale donazioni ricevute:</strong> {{ t.get_percentuale_donazioni|floatformat:"2" }}%");



                    {% if t.get_angolo_donazioni < 359 %}
                        {#                disegna il semicerchio blu, il danno #}

                        L.circle([{{ t.gps_lat|stringformat:"f" }}, {{ t.gps_lon|stringformat:"f" }}],{{ t.get_marker_size|floatformat:"0" }},
                                {
                                    fill: true,
                                    fillColor:'#18a3c9',
                                    fillOpacity: 0.5,
                                    color: '#18a3c9',
                                    opacity: 0.5,
                                    startAngle: {{ t.get_angolo_donazioni|stringformat:"f" }},
                                    stopAngle: 360
                                }
                        ).bindLabel('Comune di {{ t.denominazione }} ({{ t.get_provincia.sigla_provincia }})', { noHide: true })
                                .addTo(map)
                                .bindPopup('<a href="{% url territorio_detail t.slug %}">' +
                                "Comune di {{ t.denominazione }} ({{ t.get_provincia.sigla_provincia }})</a><BR>"+
                                "<strong>Danno totale:</strong> {{ t.get_danno_ita }} Euro<BR>"+
                                "<strong>Donazioni totali:</strong> {{ t.get_donazioni_ita }} Euro<BR>"+
                                "<strong>Percentuale donazioni ricevute:</strong> {{ t.get_percentuale_donazioni|floatformat:"2" }}%");


                    {% endif %}
                {% endif %}
            {% endfor %}

        </script>
    {% endif %}
{% endblock %}

{% block graph-data %}


    <script>

        var piechart1, piechart2;
        $(document).ready(function() {


            /*PIE CHART*/
            {% if progetti_categorie_pie|length > 1 and stima_danno %}
                /*TIPOLOGIA PROGETTI */
                piechart1 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'proj_pie',
                        type: 'pie',
                        plotBackgroundColor: '#fff'

                    },
                    tooltip: {
                        formatter: function() {
                            return '<div class="tooltip-box"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'<small>%</small></div>';
                        },
                        useHTML: true,
                        backgroundColor: '#F7F6F1',
                        borderWidth: 0,
                        shadow: false,
                        style: {
                            width: '150px',
                            'min-height': '20px'
                        }
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',

                            dataLabels: {
                                enabled: false,
                                color: '#000000',
                                connectorColor: '#000000',
                                percentageDecimals: 2,
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.y +' Euro';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Tipologia progetto',
                        title: 'Progetti per tipologia',
                        data: [
                            {% for p in progetti_categorie_pie %}
                                ['{{ p.tipologia__denominazione }}',{{ p.sum|floatformat }}],
                            {% endfor %}
                        ]
                    }]

                });
            {% endif %}
            {% if donazioni_categorie_pie|length > 1 and tot_donazioni%}
                /*CATEGORIA DONAZIONI */

                piechart2 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'don_pie',
                        type: 'pie',
                        plotBackgroundColor: '#fff'

                    },
                    tooltip: {
                        formatter: function() {
                            return '<div class="tooltip-box"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'<small>%</small></div>';
                        },
                        useHTML: true,
                        backgroundColor: '#F7F6F1',
                        borderWidth: 0,
                        shadow: false,
                        style: {
                            width: '150px',
                            'min-height': '20px'
                        }
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                color: '#000000',
                                connectorColor: '#000000',
                                percentageDecimals: 2,
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.y +' Euro';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Tipologia progetto',
                        title: 'Donazioni per tipologia',
                        data: [
                            {% for d in donazioni_categorie_pie %}
                                ['{{ d.tipologia__denominazione }}',{{ d.sum }}],
                            {% endfor %}
                        ]
                    }]
                });
            {% endif %}
        });
</script>
{% endblock %}
