{% extends "base.html" %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block show-content %}hidden{% endblock %}

{% block show-home %}visible{% endblock %}

{% block reddit-button %}
<div class="span1">
  <script type="text/javascript">
    reddit_url = "http://www.openricostruzione.it/"
  </script>
  <script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
</div>
{% endblock %}

{% block data-content %}


{% endblock %}

{% block recent-comments %}

{% endblock %}

