{% extends "static.html" %}

{% block title %}Il progetto{% endblock %}
{% block main-title %}Il progetto{% endblock %}
{% block main-subtitle %}{% endblock %}

{% block main-content %}
    <div class="row">
        <div class="span7">
            <p>
            <strong>Open Ricostruzione</strong> è uno strumento a disposizione degli amministratori locali e dei
            cittadini affinché in Emilia ci sia una ricostruzione trasparente,
            partecipata e intelligente dei comuni colpiti dal sisma del 2012.
            </p>
            <p>
            Consiste in primo luogo di una piattaforma che consente di tenere traccia di tutti i
            soldi (donazioni e finanziamenti) messi a disposizione dell'Emilia; e di monitorare i relativi
            progetti di ricostruzione.
            </p>
            <p>
            Accanto ai dati, nel corso del 2013 i volontari di
                <a href="http://www.actionaid.it/" target="_blank" >
                    Action Aid
                </a>
                    faranno indagini sul
            campo per verificare l'effettivo andamento dei progetti stilando un rapporto finale.
            </p>
            <p>
            E' un progetto aperto nel senso che è possibile fare segnalazioni, commenti, proposte su ogni singola voce.
            </p>
        </div>
    </div>
{% endblock %}