{% extends 'aggregate_base.html' %}
{% load static %}

{% block head-title %}
   {{ impresa.ragione_sociale|title }}
{% endblock %}

{% block page-title %}
    <h1>{{ impresa.ragione_sociale|title }}</h1>
{% endblock %}

{% block status %}
    <div class="row basic_spacer">
        {% include 'aggregates/data_block.html' with title='interventi in attuazione' data_dict=status.attuazione status_filters="attuazione" %}
        {% include 'aggregates/varianti_block.html' %}
    </div>

    {#    execution status bar / status blocks #}
    {% include "aggregates/execution_status.html" %}
{% endblock %}

{% block thematic-map %}
    <div class="row basic_spacer">
        <div class="col-md-12">
            <h1>Dove si interviene?</h1>
        </div>
    </div>

    {% include 'modules/thematic_maps.html' with impresa=True  %}

{% endblock %}


{% block donazioni %}{% endblock %}

{% block soggetto-attuatore %}{% endblock %}


{% block extra-css %}
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}

{% block extra-js-head %}
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emilia.json' %}"></script>
{% endblock %}
