{% extends 'base.html' %}
{% block head-title %}Lista Imprese{% endblock %}

{% block content %}

    <section class="latest">
        <div class="container">

            <div class="row lists">

                <div class="col-md-12">

                	<h2>Imprese</h2>


					<ul class="list">
                        {% for impresa in object_list %}
                        <li>
                        	<div class="col-md-8">
                                <a href="{% url 'impresa' slug=impresa.slug %}"><i class="glyphicon glyphicon-menu-right"></i> {{ impresa.ragione_sociale|title}}</a></div>
                            <div class="col-md-4">PI <span class="proj">{{ impresa.partita_iva }}<span></div>
                        </li>
                        {% endfor %}


                    </ul>

                </div>


            </div>

        </div>
    </section>


{% endblock %}