{% extends 'aggregate_base.html' %}
{% load static %}

{% block body_id %}impresa{% endblock %}

{% block head-title %}
   {{ impresa.ragione_sociale|title }}
{% endblock %}

{% block intro-text %}
    <h1>GLI INTERVENTI A CUI STA LAVORANDO</h1>
{% endblock %}

{% block localita_header %}
    <section class="dove inside bor-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>QUALI SONO LE IMPRESE COINVOLTE?</h1>

                    <h2>{{ impresa.ragione_sociale|title }}</h2>

                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block status %}
        {#    execution status bar / status blocks #}
        {% include 'aggregates/status.html' with impresa=True %}

    {% endblock %}


{% block thematic-map %}

    {% include 'modules/thematic_maps.html' with impresa=True  %}

{% endblock %}

{% block imprese %}{% endblock %}

{% block donazioni %}{% endblock %}

{% block soggetto-attuatore %}{% endblock %}


{% block extra-css %}
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}

{% block extra_js_head  %}
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emilia.json' %}"></script>
{% endblock %}
