{% extends 'base.html' %}
{% load italianize bootstrap_pagination css_class_name %}
{% block head-title %}Interventi a programma{% endblock %}


{% block content %}

    <section class="latest">
        <div class="container">

            <div class="row lists">

                <div class="col-md-12">

                	<h2>Interventi</h2><br/>
                    {% if filter.qs|length > 0 %}
                        Trovati {{ filter.qs|length }} interventi a programma<br/>
                    {% else %}
                        <h3>
                            Non sono stati trovati Interventi
                        </h3>
                    {% endif %}
                     {% if territorio_filter %}
                        <strong>Per il Comune di {{ territorio_filter.nome_con_provincia }}</strong><br/>
                    {% endif %}
                    {% if sogg_attuatore_filter %}
                        <strong>Per il Soggetto attuatore: {{ sogg_attuatore_filter.denominazione|title }}</strong><br/>
                    {% endif %}
                    {% if sogg_attuatore_tipologia_filter %}
                        <strong>Per la tipologia di Soggetto attuatore: {{ sogg_attuatore_tipologia_filter|title }}</strong><br/>
                    {% endif %}
                    {% if tipo_immobile_filter %}
                        <strong>Per Tipo Immobile: {{ tipo_immobile_filter.denominazione|title }}</strong><br/>
                    {% endif %}
                    {% if stato_filter %}
                        <strong>Per Stato: {{ stato_filter|title }}</strong><br/>
                    {% endif %}
                    {% if stato_attuazione_filter %}
                        <strong>Per Stato di attuazione: {{ stato_attuazione_filter|title }}</strong><br/>
                    {% endif %}
                    {% if impresa_filter%}
                        <strong>Per l'impresa: {{ impresa_filter|title }}</strong><br/>
                    {% endif %}

                    <ul class="list">
                        {% for obj in object_list %}
                            <li>
                                <div class="col-md-12">
                                    <a href="{% url 'intervento-programma' slug=obj.slug %}"><i class="glyphicon glyphicon-menu-right"></i> {{ obj.denominazione|title }}</a>
                                </div>
                                <div class="col-md-5">
                                    {% if obj.vari_territori %}
                                        <a href="{% url 'localita' 'vari-territori' %}" class="comune"><i class="glyphicon glyphicon-map-marker"></i> Vari territori</a>
                                    {% else %}
                                        <a href="{% url 'localita' obj.territorio.slug %}" class="comune"><i class="glyphicon glyphicon-map-marker"></i> {{ obj.territorio.nome_con_provincia }}</a>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <a href="{% url 'lista-interventi' %}?tipo_immobile__slug={{ obj.tipo_immobile.slug }}"><i class="ico-settori gray {{obj.tipo_immobile.slug|css_class_name }}"></i> {{ obj.tipo_immobile.denominazione|title }}</a></div>
                                <div class="col-md-3 text-right"><span class="euros">{{ obj.importo_generale|italianize}} </span> €</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>


    {% if object_list %}
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    {% bootstrap_paginate page_obj range=10 show_first_last='true' %}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}