{% extends 'base.html' %}
{% load italianize %}
{% block head-title %}Interventi a programma{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            Trovati {{ filter.queryset|length }} interventi a programma<br/>
            Per Soggetto attuatore: {{ filter.data.soggetto_attuatore__slug }}<br/>
            Per Tipo Immobile: {{ filter.data.tipo_immobile__slug }}<br/>
            Per Territorio: {{ filter.data.territorio__slug }}<br/>

        </div>
    </div>

    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter %}
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'intervento-programma' slug=obj.slug %}">{{ obj.denominazione|title }}</a> - {{ obj.territorio.nome_con_provincia }}- {{ obj.importo_generale}} euro <br />
            </div>
        </div>
    {% endfor %}
{% endblock %}