{% extends 'base.html' %}
{% load italianize bootstrap_pagination %}
{% block head-title %}Interventi a programma{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            Interventi<br/>
            {% if territorio_filter %}
                <strong>Per il Territorio di {{ territorio_filter.nome_con_provincia }}</strong><br/>
            {% endif %}
            {% if sogg_attuatore_filter %}
                <strong>Per il Soggetto attuatore: {{ sogg_attuatore_filter.denominazione|title }}</strong><br/>
            {% endif %}
            {% if tipo_immobile_filter %}
                <strong>Per Tipo Immobile: {{ tipo_immobile_filter.denominazione|title }}</strong><br/>
            {% endif %}
            {% if stato_filter %}
                <strong>Per Stato: {{ stato_filter|title }}</strong><br/>
            {% endif %}
            {% if stato_attuazione_filter %}
                <strong>Per Stato di attuazione: {{ stato_attuazione_filter|title }}</strong><br/>
            {% endif %}
            {% if impresa_filter%}
                <strong>Per l'impresa: {{ impresa_filter|title }}</strong><br/>
            {% endif %}

            {% if filter.qs|length > 0 %}
                Trovati {{ filter.qs|length }} interventi a programma<br/>
                {% else %}
                <h3>
                    Non sono stati trovati Interventi per i filtri selezionati.<br/> <a href="{% url 'home' %}">Torna alla home</a>
                </h3>
            {% endif %}


        </div>
    </div>
    <hr>


    {% for obj in object_list %}
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'intervento-programma' slug=obj.slug %}">{{ obj.denominazione|title }}</a> - {{ obj.territorio.nome_con_provincia }}- {{ obj.importo_generale|italianize}} euro <br />
            </div>
        </div>
    {% endfor %}

    {% if object_list %}
        {% bootstrap_paginate page_obj range=10 show_first_last='true' %}
    {% endif %}

{#    <hr>#}
{#    <small>#}
{#        <form action="" method="get">#}
{#            {{ filter.form.as_p }}#}
{#            <input type="submit" />#}
{#        </form>#}
{#    </small>#}

{% endblock %}