{% extends "base.html" %}
{% load digg_paginator %}

{% block css_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/digg_paginator.css">
{% endblock %}

{% block title %}Tipologia progetto{% endblock %}


{% block breadcrumb %}{% endblock %}

{% block main-subtitle %}
    Progetti
    {% if tipologia %}nella categoria {{tipologia}}{% endif %}{% if comune %} per il Comune di {{ comune }} ({{ territorio.get_provincia.sigla_provincia }}){% endif %},

    {% if n_progetti > 0 %}
    ({{ n_progetti }} progetti
        {% if tot_danno > 0 %}
        per {{ tot_danno|floatformat }} euro
        {% endif %}
    )
    {% endif %}
{% endblock %}

{% block data-content %}
    <div class="">
        <div class="container">

            {% for result in page_obj.object_list %}
                <div class="row">
                    <div class="span8" style="border-bottom:1px solid black;min-height: 1px;">
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <a href="{% url progetto_detail result.slug %}">
                            {{ result.denominazione|safe }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <a href="{% url territorio_detail result.territorio.slug %}" >
                            {{ result.territorio.denominazione }}
                        </a>
                            ({{ result.territorio.get_provincia.sigla_provincia}}) &tilde;
                        <a href="{% url progetti-tipologia result.tipologia.slug %} " >
                            {{ result.tipologia.denominazione|safe }}
                        </a>
                    </div>
                    <div class="span2">
                        {{ result.riepilogo_importi|safe }} euro
                    </div>
                </div>
            {% endfor %}
        <div class="row">
            <div class="span8" style="border-bottom:1px solid black;min-height: 1px;">
            </div>
        </div>
        <div class="row">
            <div class="span8">
                {% digg_paginator %}
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block comment %}

{% endblock %}