{% extends 'aggregate_base.html' %}
{% load static %}


{% block head-title %}
    Comune di {{ territorio.nome_con_provincia }}
{% endblock %}

{% block page-title %}
    <h1>Comune di {{ territorio.nome_con_provincia }}</h1>
{% endblock %}

{% block extra-css %}
        <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}

{% block extra-js-head %}
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
{% endblock %}

{% block home-map %}
    {% include 'modules/map.html' %}
{% endblock %}