{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}

{% block extra-js-top %}
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emilia.json' %}"></script>

    <script type="text/javascript">

        //set map bounds
        var southWest = L.latLng({{ map_bounds.sw.lat|unlocalize }},{{ map_bounds.sw.lon|unlocalize }}),
        northEast = L.latLng({{ map_bounds.ne.lat|unlocalize }},{{ map_bounds.ne.lon|unlocalize }}),
        bounds = L.latLngBounds(southWest, northEast);

        // set up the map

		var map = L.map('map').setView([{{ map_center.lat|unlocalize }}, {{ map_center.lon|unlocalize }}], 8).setMaxBounds(bounds);
        map.scrollWheelZoom.disable();

        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, { attribution: osmAttrib});

        map.addLayer(osm);


		// control that shows state info on hover
		var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		info.update = function (props) {
			this._div.innerHTML = '<h4>Danno del sisma</h4>' +  (props ?
				'<b>' + props.label + '</b><br />' + props.value+ ' Euro'
				: 'Passa sopra un Comune');
		};

		info.addTo(map);


		// get color depending on population density value
		function getColor(d) {
			return d > 20000000 ? '#800026' :
			       d > 15000000  ? '#BD0026' :
			       d > 10000000  ? '#E31A1C' :
			       d > 5000000  ? '#FC4E2A' :
			       d > 1000000   ? '#FD8D3C' :
			       d > 500000   ? '#FED976' :
			                  '#FFEDA0';
		}

		function style(feature) {
			return {
				weight: 2,
				opacity: 1,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.7,
				fillColor: getColor(feature.properties.value)
			};
		}

		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 5,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		var geojson;

		function resetHighlight(e) {
			geojson.resetStyle(e.target);
			info.update();
		}

		function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}


        var comuniData ={// alpha 3 iso code
            {% for t in map_values %}
                "{{ t.istat_code }}": {
                    "label": "{{ t.label }}",
                    "url": "",
                    "value": "{{ t.value|default:"0" }}".replace(/,/g, '.')
                }{% if not forloop.last %},{% endif %}
            {% endfor %}

        };
        $.each(comuniEmilia.features, function(index, feature){
            var id = feature.properties.codice;

            if (id in comuniData){
                feature.properties.url = comuniData[id].url;
                feature.properties.label = comuniData[id].label;
                feature.properties.value = comuniData[id].value;

            }
        });

		geojson = L.geoJson(comuniEmilia, {
			style: style,
			onEachFeature: onEachFeature
		}).addTo(map);

		map.attributionControl.addAttribution('');

        {#        adds legend #}
{#		var legend = L.control({position: 'bottomright'});#}
{##}
{#		legend.onAdd = function (map) {#}
{##}
{#			var div = L.DomUtil.create('div', 'info legend'),#}
{#				grades = [0, 10, 20, 50, 100, 200, 500, 1000],#}
{#				labels = [],#}
{#				from, to;#}
{##}
{#			for (var i = 0; i < grades.length; i++) {#}
{#				from = grades[i];#}
{#				to = grades[i + 1];#}
{##}
{#				labels.push(#}
{#					'<i style="background:' + getColor(from + 1) + '"></i> ' +#}
{#					from + (to ? '&ndash;' + to : '+'));#}
{#			}#}
{##}
{#			div.innerHTML = labels.join('<br>');#}
{#			return div;#}
{#		};#}
{##}
{#		legend.addTo(map);#}

	</script>

{% endblock %}


{% block content %}
    <div id="map"></div>
{% endblock %}
