{% extends "base.html" %}
{% load digg_paginator %}

{% block css_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/digg_paginator.css">
{% endblock %}

{% block title %}
    Progetti {% if tipologia %}- {{tipologia}}{% endif %}{% if comune %}- {{ comune.denominazione }} ({{ comune.get_provincia.sigla_provincia }}){% endif %}
{% endblock %}

{% block main-title-class %}hidden{% endblock %}
{% block main-subtitle-class %}project_list{% endblock %}
{% block boxes-class %}hidden{% endblock %}

{% block main-subtitle %}
    <strong>
        Progetti
        {% if tipologia %}per {{tipologia}}{% endif %}{% if comune %} nel <a href="{% url territorio_detail comune.slug %} ">Comune di {{ comune.denominazione }} ({{ comune.get_provincia.sigla_provincia }})</a>{% endif %},
    </strong>
    {% if n_progetti > 0 %}
        ({{ n_progetti }} {% if n_progetti > 1 %}progetti{% else %}progetto{% endif %}
            {% ifnotequal tot_danno "0,00" %} per {{ tot_danno }} euro{% endifnotequal %})
    {% endif %}
{% endblock %}

{% block main-content %}

    <div class="container" id="project_list">

        {% for result in page_obj.object_list %}
            <div class="row project_row">
                <div class="span7 spacer" >
                </div>
            </div>
            <div class="row project_row">
                <div class="span5 titolo">
                    <a href="{% url progetto_detail result.slug %}">
                        {{ result.denominazione|safe }}
                    </a>
                </div>
            </div>
            <div class="row project_row">
                <div class="span5 ">
                    <a href="{% url territorio_detail result.territorio.slug %}" >
                        {{ result.territorio.denominazione }}

                        ({{ result.territorio.get_provincia.sigla_provincia}})
                    </a> &#126;

                    <a href="{% url progetti-tipologia result.tipologia.slug %} " >
                        {{ result.tipologia.denominazione|safe }}
                    </a>
                </div>
                {% ifnotequal result.get_riepilogo_importi_ita "0,00" %}
                    <div class="span2 box">
                        <div class="importi">
                            {{ result.get_riepilogo_importi_ita }} euro
                        </div>
                    </div>
                {% endifnotequal %}
            </div>
        {% endfor %}
    <div class="row project_row">
        <div class="span7 spacer">
        </div>
    </div>
    {% if n_pages > 1 %}
        <div class="row" style="margin: 0 auto;">
            <div class="span7" >
                {% digg_paginator %}
            </div>
        </div>
    {% endif %}
    </div>


{% endblock %}

{% block comment %}

{% endblock %}