{% extends "base.html" %}
{% load humanize %}
{% block title %}Progetto{% endblock %}

{% block support %}
    {% if iban %}
        <p class="title">AIUTACI A RICOSTRUIRE!</p>
        <p>
            Analizza lo stato dei lavori, partecipa alla ricostruzione:
            dona anche tu utilizzando queste coordinate bancarie
        </p>
        <div class="iban">
            {% if iban %}
                <div class="title">Codice Iban</div>
                <div class="number">{{ iban }}</div>
            {% endif %}
        </div>
        <div class="iban">
            {% if swift %}
                <div class="title">Codice Bic Swift (bonifici dall'estero)</div>
                <div class="number">{{ swift }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block main-title %}{{ progetto.denominazione }}{% endblock %}
{% block main-subtitle %}
    <div>
        {{ progetto.ubicazione }},
        <a href="../comune/{{ progetto.territorio.slug }}">
            Comune di {{ progetto.territorio.denominazione }}
            ({{ progetto.territorio.get_provincia.sigla_provincia}})
        </a>
    </div>
    <div>
        <a href="{% url progetti-tipologia progetto.tipologia.slug %}">{{ progetto.tipologia.denominazione }}</a>
    </div>
{% endblock %}

{% block stima-danno-number %}{{ stima_danno|onlynumber }}{% endblock %}
{% block stima-danno-word %}{{ stima_danno|onlyword }} {% if stima_danno > 1000000 %}di{% endif %}{% endblock %}
{% block tot-donazioni-number %}{{ tot_donazioni|onlynumber}}{% endblock %}
{% block tot-donazioni-word %}{{ tot_donazioni|onlyword }} {% if tot_donazioni > 1000000 %}di{% endif %}{% endblock %}

{% block map %}
    <div id="map" class='span4'></div>
{% endblock %}

{% block main-content %}
    <div class="row-fluid">
        <div id="left" class="span11">
            <div id="project_data">
                {% if progetto.cenni_storici %}
                    <div class="data_row">
                        <div class="titolo">
                            descrizione
                        </div>
                        <div class="testo">
                            {{ progetto.cenni_storici }}
                        </div>
                    </div>
                {% endif %}
                {% if progetto.stato_attuale %}
                    <div class="data_row">
                        <div class="titolo">
                           stato attuale
                        </div>
                        <div class="testo">
                            {{ progetto.stato_attuale }}
                        </div>
                    </div>
                {% endif %}
                {% if progetto.interventi_previsti %}
                    <div class="data_row">
                        <div class="titolo">
                            interventi previsti
                        </div>
                        <div class="testo">
                            {{ progetto.interventi_previsti }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div>
                {% if n_progetti > 10 %}
                    <a href="#" >Vedi tutti i {{ n_progetti }} progetti</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



{% block data-content %}
    <div class="row">
        <div class="span12" id="tempi-realizzazione">

            {% if progetto.tempi_di_realizzazione %}
                <div class="data_row">
                    <div class="titolo">
                        tempi di realizzazione
                    </div>
                    <div class="testo">
                        {{ progetto.tempi_di_realizzazione }}
                    </div>
                </div>
            {% endif %}
            {% ifnotequal progetto.get_riepilogo_importi_ita "0,00" %}
                <div class="data_row">
                    <div class="titolo">
                        importo dei lavori: {{ progetto.get_riepilogo_importi_ita }} euro
                    </div>
                </div>
            {% endifnotequal %}
            {% ifnotequal progetto.get_donazioni_ita "0,00" %}
                <div class="data_row">
                    <div class="titolo">
                        donazioni ricevute : {{ progetto.get_donazioni_ita }} euro
                    </div>
                </div>
            {% endifnotequal %}

        </div>
    </div> <!-- /row-->

    {% if sottoprogetti %}
    <div class="row">
        <div class="span8" id="subproj">
            <div class="slogan">Componenti del progetto</div>

            {% for p in sottoprogetti %}
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">

                            <a class="accordion-toggle collapsed titolo" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ p.pk }}">
                                <img class="point" src="../static/img/point.png">{{ p.denominazione }}<img class="triangle" src="../static/img/triangle.png">
                            </a>
                        </div>
                        <div id="collapse{{ p.pk }}" class="accordion-body collapse ">
                            <div class="accordion-inner" >
                                <div class="denominazione titolo">
                                    <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ p.pk }}">
                                        {{  p.denominazione}}<img style="margin-left: 15px;" src="../static/img/triangle-up.png">
                                    </a>
                                </div>
                                <div class="ubicazione">{{  p.parent.ubicazione}}, <a href="../comune/{{ progetto.territorio.slug }}" >Comune di {{ progetto.territorio.denominazione }} ({{ progetto.territorio.get_provincia.sigla_provincia}})</a></div>
                                <div class="tipologia"><a href="{% url progetti-tipologia p.tipologia.slug %}" >{{  p.tipologia }}</a></div>
                                {% if  p.cenni_storici %}
                                    <div class="descrizione">
                                        <div class="slogan">descrizione</div>
                                        <div class="testo">
                                            {{  p.cenni_storici}}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if  p.stato_attuale %}
                                    <div class="descrizione">
                                        <div class="slogan">stato attuale</div>
                                        <div class="testo">
                                            {{  p.stato_attuale}}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if p.interventi_previsti %}
                                    <div class="descrizione">
                                        <div class="slogan">interventi previsti</div>
                                        <div class="testo">
                                            {{  p.interventi_previsti}}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="box">
                                    {% if p.tempi_di_realizzazione %}
                                        <div class="tempi ">
                                            TEMPI DI REALIZZAZIONE: {{ p.tempi_di_realizzazione }}
                                        </div>

                                    {% endif %}
                                    {% ifnotequal p.get_riepilogo_importi_ita "0,00" %}
                                        <div class="importi ">
                                            IMPORTO DEI LAVORI: {{ p.get_riepilogo_importi_ita}} euro
                                        </div>
                                    {% endifnotequal %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div> <!-- /row-->
    {% endif %}


{% endblock %}


{% block map-data %}
    {% if progetto.territorio.gps_lat and progetto.territorio.gps_lon %}
        <script>
            var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                    cloudmadeAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
                    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

            //set map bounds
            var southWest = new L.LatLng({{ map_minlat|stringformat:"f" }}, {{ map_minlon|stringformat:"f" }}),
                    northEast = new L.LatLng({{ map_maxlat|stringformat:"f" }}, {{ map_maxlon|stringformat:"f" }}),
                    bounds = new L.LatLngBounds(southWest, northEast);

            var map = new L.Map('map', {
                minZoom: 8,
                maxZoom: 15,
                maxBounds: bounds,
                scrollWheelZoom: false
            });
            map.setView(new L.LatLng({{ progetto.territorio.gps_lat|stringformat:"f" }}, {{ progetto.territorio.gps_lon|stringformat:"f" }}), 13).addLayer(cloudmade);
            L.marker([{{  progetto.territorio.gps_lat|stringformat:"f" }}, {{  progetto.territorio.gps_lon|stringformat:"f" }}]).addTo(map)
                    .bindPopup('Comune di <strong>{{ progetto.territorio.denominazione }} ({{ progetto.territorio.get_provincia.sigla_provincia}})</strong>').openPopup();

        </script>
    {% endif %}
{% endblock %}

{% block comment %}
    {% load disqus_tags %}
    {% disqus_show_comments %}
{% endblock %}