{% extends "base.html" %}

{% block title %}Progetto{% endblock %}

{% block support %}
    {% if iban %}
        Supporta questo progetto!<br/>
        Codice IBAN: {{ iban }}<br/>
    {% endif %}
{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="/progetto/">Progetto</a> &raquo; <a href="/progetto/{{ progetto.slug }}">{{ progetto.denominazione }}</a>{% endblock %}


{% block content %}
    {{ block.super }}
    <pre>
        progetto.pk:{{ progetto.pk }}
        denominazione: {{ progetto.denominazione}}
        comune_nome: {{ comune_nome }}
        categoria: {{ progetto.tipologia }}
        importo previsto (testo): {{ progetto.importo_previsto }}
        importo totale (numero): {{ progetto.riepilogo_importi }}
        donaz totale: {{ donazioni }}
        epoca: {{ progetto.epoca }}
        cenni storici: {{ progetto.cenni_storici }}
        ulteriori info: {{ progetto.ulteriori_info }}

    </pre>
{% endblock %}
