{% extends 'aggregate_base.html' %}
{% load static %}

{% block body_id %}soggetto{% endblock %}

{% block head-title %}
   {{ sogg_att.denominazione|title }}
{% endblock %}

{% block intro-text %}
    <h1>GLI INTERVENTI DI CUI E' SOGGETTO ATTUATORE</h1>
{% endblock %}

{% block localita_header %}
    <section class="dove inside bor-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>CHI &Egrave; IL RESPONSABILE?</h1>

                    <h2>{{ sogg_att.denominazione|title }}</h2>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block donazioni %}
{% endblock %}

{% block soggetto-attuatore %}
{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}

{% block extra_js_head %}
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emilia.json' %}"></script>
{% endblock %}

