{% extends "base.html" %}
{% load humanize %}
{% block title %}Comune di {{ territorio.denominazione }}{% endblock %}

{% block support %}
    {% if iban %}
        Aiutaci a ricostruire!<br/>
        <div class="iban">
            <div class="title">Codice Iban</div>
            <div class="number">{{ iban }}</div>
        </div>
        <div class="iban">
            <div class="title">Codice Bic Swift (bonifici dall'estero)</div>
            <div class="number">TESTCODE3044</div>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="/comune/{{ territorio.slug }}">Comune di {{ territorio.denominazione }}</a>{% endblock %}

{% block main-title %}Comune di {{ territorio.denominazione }}({{ sigla_provincia }}){% endblock %}

{% block stima-danno-number %}{{ stima_danno|onlynumber }}{% endblock %}
{% block stima-danno-word %}{{ stima_danno|onlyword }}{% endblock %}
{% block tot-donazioni-number %}{{ tot_donazioni|onlynumber}}{% endblock %}
{% block tot-donazioni-word %}{{ tot_donazioni|onlyword }}{% endblock %}

{% block content %}
    {{ block.super }}
    <BR>
    <pre>
        territorio.pk:{{ territorio.pk }}
        denominazione: {{ territorio.denominazione}}
        tot_donazioni: {{ tot_donazioni }}
        donazioni: {{ donazioni_tot }}
        donazioni_comune: {{ donazioni_comune }}
        iban: {{ iban }}
        top 5 progetti: {{ projects_top5 }}
        dati progetti per categorie: {{ progetti_categorie }}
        dati donazioni per tipologia soggetto: {{ donazioni_categorie }}
    </pre>
{% endblock %}