{% extends "base.html" %}
{% load humanize %}
{% load italianize %}
{% block title %}Comune di {{ territorio.denominazione }}{% endblock %}

{% block support %}
        <p class="title">AIUTACI A RICOSTRUIRE!</p>
        <p>
            Analizza lo stato dei lavori, partecipa alla ricostruzione:
            dona anche tu utilizzando queste coordinate bancarie
        </p>
        <div class="iban">
            {% if iban %}
                <div class="title">Codice Iban</div>
                <div class="number">{{ iban }}</div>
            {% endif %}
        </div>
        <div class="iban">
            {% if swift %}
                <div class="title">Codice Bic Swift (bonifici dall'estero)</div>
                <div class="number">{{ swift }}</div>
            {% endif %}
        </div>
{% endblock %}

{% block main-title %}Comune di {{ territorio.denominazione }} ({{ sigla_provincia }}){% endblock %}
{% block main-subtitle %}I progetti in evidenza nel Comune di {{ territorio.denominazione }} {% endblock %}

{% block stima-danno-number %}{{ stima_danno|italianize }}{% endblock %}

{% block tot-donazioni-number %}{{ tot_donazioni|italianize}}{% endblock %}


{% block map %}
    <div id="map" class='span4'></div>
{% endblock %}

{% block main-content %}
    <div class="row-fluid">
        <div id="left" class="span11">
            <div id="project_list">
                {% for p in progetti_top %}

                    <div class="project_row ">
                        <div class="titolo">
                            <a href="../progetto/{{ p.slug }}" >
                            {{ p.denominazione }}
                            </a>
                        </div>
                        <div class="tipologia">
                            <a href="{% url progetti-tipologia-comune p.tipologia.slug territorio.slug %} ">
                                {{  p.tipologia }}
                            </a>
                        </div>
                        <div class="box">
                            {% if p.tempi_di_realizzazione %}
                                <div class="tempi span9">Tempi di realizzazione: {{ p.tempi_di_realizzazione }}</div>
                            {% endif %}
                            {% ifnotequal p.riepilogo_importi "0,00" %}
                                <div class="importi">{{ p.riepilogo_importi}} Euro</div>
                            {% endifnotequal %}
                        </div>
                        <div class="spacer"></div>
                    </div>
                {% endfor %}
            </div>
            <div>
            {% if n_progetti > 10 %}
                <a href="{% url progetti-comune territorio.slug %}" >Vedi tutti i {{ n_progetti }} progetti</a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block data-content %}
    {% if donazioni_spline %}
        <div class="row">
            <div class="span12">
                <div class="titolo">Andamento delle donazioni per il Comune di {{ territorio.denominazione }}</div>
               <div id="time_graph">
               </div>
            </div><!-- /span -->
        </div> <!-- /row -->
    {% endif %}

    <!-- PIE CHARTS -->
    <div class="row">
        <div class="span6">
            {% if progetti_categorie_list %}

                <div class="titolo danno"> Progetti per la ricostruzione</div>
                <div class="subtitle">Ripartizione dei danni per categorie</div>
                {% if progetti_categorie_pie|length > 1 %}
                    <div id="proj_pie"></div>
                {% endif %}
                <div class="project_list">
                    {% for p in progetti_categorie_list %}

                        <div class="project_row ">
                            <div class="box">
                                <div class="n_progetti">
                                    <span class="cypher">
                                        {{ p.c }}
                                    </span>
                                    <a href="{% url progetti-tipologia-comune p.tipologia__slug territorio.slug %}">{{ p.tipologia__denominazione }}</a></div>

                                <div class="importo">
                                    {% ifnotequal p.sum "0,00" %}
                                        {{ p.sum}} euro
                                    {% endifnotequal %}
                                </div>
                            </div>
                            <div class="spacer"></div>
                        </div>

                    {% endfor %}
                </div>
            {% endif %}
        </div><!-- /span -->
        <div class="span6">
            {% if donazioni_categorie_list %}
                <div class="titolo donazioni"> Donazioni ricevute</div>
                <div class="subtitle">Ripartizione delle donazioni per soggetti</div>
                {% if donazioni_categorie_pie|length > 1 %}
                    <div id="don_pie"></div>
                {% endif %}
                <div class="project_list">
                    {% if donazioni_categorie_list %}
                        {% for p in donazioni_categorie_list %}
                            {% ifnotequal p.sum "0,00" %}
                                <div class="project_row ">
                                    <div class="box">
                                        <div class="n_progetti">
                                            <span class="cypher">
                                                {{ p.c }}

                                                da
                                            </span>
                                            {% if p.tipologia__denominazione != tipologia_privati.denominazione and  p.tipologia__denominazione != tipologia_altro.denominazione %}
                                                <a href="{% url donazioni-tipologia-comune p.tipologia__slug territorio.slug %} ">
                                                    {{ p.tipologia__denominazione }}
                                                </a>
                                                {% if p.tipologia__denominazione == tipologia_regione_emilia.denominazione %}
                                                    <span style="color:black">(compresi SMS)</span>
                                                {% endif %}
                                            {% else %}
                                                <span style="color:black;">{{ p.tipologia__denominazione }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="importo">{{ p.sum}} euro</div>
                                    </div>
                                    <div class="spacer"></div>
                                </div>
                            {% endifnotequal %}
                        {% endfor %}
                        <div class="project_row ">
                            <div class="box">
                                <div class="n_progetti">
                                    <span class="cypher">
                                        {{ n_donazioni }}
                                    </span>
                                    <a href="{% url donazioni-comune territorio.slug %} ">
                                         Donazioni totali
                                    </a>
                                </div>
                                <div class="importo">{{ territorio.get_donazioni_ita}} euro</div>
                            </div>
                        </div>

                    {% endif %}
                </div>
            {% endif %}
            {% if donazioni_last %}
                <div id="don_last">
                    <div class="titolo"> Ultime donazioni</div>
                    <div class="subtitle">Ultime donazioni per il Comune di {{ territorio.denominazione }}</div>
                    <div class="container-fluid project_list">

                        {% for p in donazioni_last %}

                            <div class="row-fluid project_row ">
                                <div class="span2 box">
{#                                    <div class="n_progetti">#}
                                        <div class="box_data" >
                                            <div class="day">{{ p.day}}</div>
                                            <div class="month">{{ p.month }}</div>
                                            <div class="year">{{ p.year }}</div>
                                        </div>
                                </div>

                                <div class="span6 text">
                                    <div class="abstract" style="color:black;">
                                        Da
                                        <strong>
                                            {% if p.tipologia.denominazione != tipologia_privati.denominazione and  p.tipologia.denominazione != tipologia_altro.denominazione %}
                                                <a href="{% url donazioni-tipologia-comune p.slug territorio.slug %}">
                                                    {{ p.tipologia.denominazione }}
                                                </a>
                                            {% else %}
                                                {{ p.tipologia.denominazione }}
                                            {% endif %}

                                        </strong>
                                    </div>
                                </div>
                                <div class="span4">
                                    {% ifnotequal p.importo "0,00" %}
                                        <div class="importo">{{ p.importo}} euro</div>
                                    {% endifnotequal %}
                                </div>
                            </div>
                            <div class="row-fluid project_row ">
                                <div class="span12 spacer"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div><!-- /span -->
    </div> <!-- /row -->

{% endblock %}

{% block map-data %}
    {% if territorio.gps_lat and territorio.gps_lon %}
        <script>
            var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                    cloudmadeAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
                    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});


            //set map bounds
            var southWest = new L.LatLng({{ map_minlat|stringformat:"f" }}, {{ map_minlon|stringformat:"f" }}),
                    northEast = new L.LatLng({{ map_maxlat|stringformat:"f" }}, {{ map_maxlon|stringformat:"f" }}),
                    bounds = new L.LatLngBounds(southWest, northEast);

            var map = new L.Map('map', {
                minZoom: 8,
                maxZoom: 15,
                maxBounds: bounds,
                scrollWheelZoom: false
            });
            map.setView(new L.LatLng({{ territorio.gps_lat|stringformat:"f" }}, {{ territorio.gps_lon|stringformat:"f" }}), 13).addLayer(cloudmade);

            L.marker([{{ territorio.gps_lat|stringformat:"f" }}, {{ territorio.gps_lon|stringformat:"f" }}]).addTo(map)
                    .bindPopup('Comune di <strong>{{ territorio.denominazione }} ({{ sigla_provincia }})</strong>').openPopup();

        </script>
    {% endif %}
{% endblock %}

{% block graph-data %}
    <script>
        var chart1; // globally available
        var piechart1, piechart2;
        $(document).ready(function() {


            {% if donazioni_spline %}
                {# SPLINE #}
                chart1 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'time_graph',
                        type: 'spline',
                        plotBackgroundColor: '#fff'
                    },
                    title: {
                        text: ''
                    },
                    tooltip: {
                        formatter: function() {

                            var don_ita = new Array();
                            {% for d in donazioni_spline %}
                                don_ita["{{ d.month }}"]="{{ d.sum_ita }}";
                            {% endfor %}



                            return '<b>'+ this.x  +'</b><br/>'+
                                    ''+ don_ita[this.x] +' Euro';
                        }
                    },
                    yAxis: {
                        min:0,

                        labels: {
                            formatter: function() {
                                return this.value.formatMoney(0,"",".",",")
                            }
                        },
                        title: {
                            text: 'Euro'
                        }

                    },
                    xAxis: {
                        type: 'datetime',
                        labels:
                        {
                            enabled: true
                        },

                        categories:[
                            {% for d in donazioni_spline %}
                                "{{ d.month }}",
                            {% endfor %}
                        ]


                    },
                    series: [{
                        name: 'Donazioni',
                        data:[
                            {% for d in donazioni_spline %}
                                {{ d.sum }},
                            {% endfor %}
                        ]
                    } ]
                });
            {% endif %}

            /*PIE CHART*/
            {% if progetti_categorie_pie|length > 1 and stima_danno %}
                /*TIPOLOGIA PROGETTI */
                piechart1 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'proj_pie',
                        type: 'pie',
                        plotBackgroundColor: '#fff'
                    },
                    tooltip: {
                        formatter: function() {
                            return '<div class="tooltip-box"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'<small>%</small></div>';
                        },
                        useHTML: true,
                        backgroundColor: '#F7F6F1',
                        borderWidth: 0,
                        shadow: false,
                        style: {
                            width: '150px',
                            'min-height': '20px'
                        }
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                color: '#000000',
                                connectorColor: '#000000',
                                percentageDecimals: 2,
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.y +' Euro';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Tipologia progetto',
                        title: 'Progetti per tipologia',
                        data: [
                            {% for p in progetti_categorie_pie %}
                                {% if p.sum > 0 %}
                                    ['{{ p.tipologia__denominazione }}',{{ p.sum|floatformat }}],
                                {% endif %}
                            {% endfor %}
                        ]
                    }]

                });
            {% endif %}
            {% if donazioni_categorie_pie|length > 1 and tot_donazioni%}
                /*CATEGORIA DONAZIONI */

                piechart2 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'don_pie',
                        type: 'pie',
                        plotBackgroundColor: '#fff'

                    },
                    tooltip: {
                        formatter: function() {
                            return '<div class="tooltip-box"><b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'<small>%</small></div>';
                        },
                        useHTML: true,
                        backgroundColor: '#F7F6F1',
                        borderWidth: 0,
                        shadow: false,
                        style: {
                            width: '150px',
                            'min-height': '20px'
                        }
                    },
                    title: {
                        text: ''
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                color: '#000000',
                                connectorColor: '#000000',
                                percentageDecimals: 2,
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.y +' Euro';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Tipologia progetto',
                        title: 'Donazioni per tipologia',
                        data: [
                            {% for d in donazioni_categorie_pie %}
                                ['{{ d.tipologia__denominazione }}',{{ d.sum }}],
                            {% endfor %}
                        ]
                    }]
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block comment %}
    {% load disqus_tags %}
    {% disqus_show_comments %}
{% endblock %}

