{% extends 'aggregate_base.html' %}
{% load static %}

{% block head-title %}
    Tipo Immobile: {{ tipo_immobile.denominazione }}
{% endblock %}

{% block  page-title %}
    <h1>Tipo Immobile: {{ tipo_immobile.denominazione }}</h1>
{% endblock %}

{% block tipo-immobile %}
{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}

{% block extra-js-head %}
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emilia.json' %}"></script>
{% endblock %}
