{% extends "base.html" %}
{% block title %}Tipologia progetto{% endblock %}

{% block breadcrumb %}{{ block.super }} / <a href="/tipologie-progetto/">Tipologia progetto</a> / <a href="/tipologie-progetto/{{ slug }}">{{ tipologia }}</a> {% endblock %}

{% block data-content %}
    <div class="">
        <div class="container">
            <h1>Qui compariranno i risultati della ricerca</h1><br/>
{#            <ul>#}
{#                {% for progetto in project_list%}#}
{#                    <li><a href="../progetto/{{ progetto.slug }}">{{ progetto.denominazione }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </div>
    </div>
{% endblock %}

{% block comment %}

{% endblock %}