{% load italianize %}
<section class="importi-intervento2 schedaB">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center importi">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="label-importo">Importo totale</div>
                        <div class="importo1">€ {{ importo|italianize }}</div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="importo3">
                            <div class="label-importo">di cui cofinanziati</div>
                            <div class="importo2">€ {{ importo_cofinanziamenti|italianize }}
                                {% if cofinanziamenti|length > 0 %}
                                    <a href="#"><span class="glyphicon glyphicon-plus-sign link-dati-cofinanziati">&nbsp;</span></a>
                                {% endif %}

                            </div>
                            <div class="freccia-verde-cofinanziati"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="importo4">
                            <div class="label-importo">di cui liquidati</div>
                            <div class="importo2">€ {% if importo_liquidazioni %}{{ importo_liquidazioni|italianize }}{% else %}0,00{% endif %}
                                {% if importo_liquidazioni > 0 %}
                                    <a href="#"><span class="glyphicon glyphicon-plus-sign link-dati-liquidati">&nbsp;</span></a>
                                {% endif %}
                            </div>
                            <div class="acconto">
                                {% if liquidazioni|length > 0 %}
                                    {{ liquidazioni.0.get_tipologia_display|title }} {{ liquidazioni.0.data }}
                                {% endif %}
                            </div>
                            <div class="freccia-verde-liquidati"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-right box-dati-liquidati">
                <table>
                    {% for l in liquidazioni %}
                        <tr>
                            <th class="etichetta">{{ l.get_tipologia_display|title }}</th>
                            <th>{{ l.data }}</th>
                            <th>€ {{ l.importo|italianize }}</th>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>


    <div class="col-md-7 text-right box-dati-cofinanziati">
        <table>
            {% for cof in cofinanziamenti %}
                <tr>
                    <th>
                        {% if cof.tipologia == '2' %}
                            {#  tipologia donazioni has link to lista donazioni  #}
                            <a href="{% url 'lista-donazioni' %}?interventi_programma__slug={{ intervento_programma.slug }}">{{ cof.get_tipologia_display|title }} <span class="glyphicon glyphicon-play-circle">&nbsp;</span></a>
                        {% else %}
                            {{ cof.get_tipologia_display|title }}
                        {% endif %}
                    </th>
                    <th>€ {{ cof.importo|italianize }}</th>
                </tr>
            {% endfor %}

        </table>

    </div>
</section>