{% load l10n %}

<div id="interventoprogramma_map" class="map mappa" style="height: 280px;"></div>

<script type="text/javascript">
    $(document).ready(function(){

        var bounds = {
            'sw': {'lat':{{ map_bounds.sw.lat|unlocalize }} ,'lon':{{ map_bounds.sw.lon|unlocalize }} },
            'ne': {'lat':{{ map_bounds.ne.lat|unlocalize }} ,'lon':{{ map_bounds.ne.lon|unlocalize }} }
        };

        var center = {'lat': {{ map_center.lat|unlocalize }},'lon':{{ map_center.lon|unlocalize }}};
        interventoprogramma_map(bounds, center, '{{ map_tooltip_text }}');

    });
</script>