{% load l10n %}

<div id="localita_map" class="map mappa" style="height: 340px;"></div>

<script type="text/javascript">
    $(document).ready(function(){

        var bounds = {
            'sw': {'lat':{{ map_bounds.sw.lat|unlocalize }} ,'lon':{{ map_bounds.sw.lon|unlocalize }} },
            'ne': {'lat':{{ map_bounds.ne.lat|unlocalize }} ,'lon':{{ map_bounds.ne.lon|unlocalize }} }
        };

        var pois = [
            {% for poi in map_pois %}
                {'lat': {{ poi.lat|unlocalize }},'lon':{{ poi.lon|unlocalize }}, 'tooltip_text':'{{ poi.tooltip_text }}', 'tooltip_url': '{{poi.tooltip_url}}'},
            {% endfor %}
        ];

        var center = {'lat': {{ map_center.lat|unlocalize }},'lon':{{ map_center.lon|unlocalize }}};
        localita_map(bounds, pois);

    });
</script>