<!DOCTYPE html >
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Open Ricostruzione - Errore non previsto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="" >

    <!-- Le styles -->
    <link href="/static/css/smoothness/jquery-ui-1.9.1.custom.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
    <!-- HEADER -->
    <div class="container header">
        <div class="row ">
            <div  id="logo_header" >
                <div class="span7" id="logo_top">

                </div>

            </div>
        </div>
    </div>

    <!-- /HEADER-->



    <div class="container content ">
        <div class="row visible">
            <div class="col-md-12 ">

                <div id="main-title" class="">Errore non previsto</div>
                <div class="container-fluid">

                    <div class="row-fluid">
                        <div class="col-md-12">
                            <p>
                                Ci dispiace, ma si è verificato un errore imprevisto sui nostri server.<br/>
                                Abbiamo già ricevuto una notifica con i dettagli e interverremo al più presto.
                            </p>

                            <p>
                                Grazie per la pazienza,<br/>
                                lo staff di Open Ricostruzione
                            </p>
                       </div>
                    </div>
                </div>
        </div>
    </div>

    </div><!--/.container-->


    <!-- FOOTER -->
    <footer>

    </footer>
    <!-- /FOOTER -->
</body>
</html>

