{% extends "aggregate_base.html" %}
{% load static %}

{% block head-title %}Home{% endblock %}

{% block body_id %}index{% endblock %}

{% block home-intro %}
    <section class="container intro">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                Segui tutti gli interventi e le donazioni per la ricostruzione in
                Emilia-Romagna. <br/>I numeri, i finanziamenti, lo stato di avanzamento
                lavori, chi sono i responsabili e quali imprese stanno lavorando.
{#                <div class="collapse" id="introCollapse">#}
{#                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis#}
{#                </div>#}
{#                <a class="btn btn-more" data-toggle="collapse" href="#introCollapse" aria-expanded="false" aria-controls="introCollapse">leggi tutto <i class="glyphicon glyphicon-plus-sign"></i></a>#}

            </div>
        </div>
    </section>

{% endblock %}

{% block extra-css %}

{% endblock %}

{% block extra_js_head %}
    <script type="text/javascript" src="{% static 'js/emilia.json' %}"></script>
{% endblock %}

{% block home-map %}
    <div class="row basic_spacer">
        <div class="col-md-12">
            <h1>DOVE SI INTERVIENE</h1>
        </div>
    </div>

    {% include 'modules/thematic_maps.html' %}

{% endblock %}
