{% extends 'base.html' %}
{% load italianize %}

{% block head-title %}
    {{ intervento_programma.denominazione }}
{% endblock %}


{% block content %}

    <section class="container intro">
     	<div class="row">
        	<div class="col-md-10 col-md-offset-1 text-center intervento-denominazione">
            	{{ intervento_programma.denominazione }}
            </div>
        </div>
    </section>

    <section class="pianificato-schedaA">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% if not vari_territori %}
                        {% include 'modules/interventoprogramma_map.html' %}
                    {% endif %}
                    <div class="testo-mappa">
                        {% if intervento_programma.vari_territori %}
                            Intervento Sovracomunale
                        {% else %}
                            {{ intervento_programma.territorio.nome_con_provincia }}
                        {% endif %}
                    </div>
				</div>
                <div class="col-md-8">
                    {% if intervento_programma.stato == 'programma'  %}
                            <div class="programmati" style="margin-bottom: 10px;">
                                <span>
                                    INTERVENTO A PROGRAMMA
                                </span>
                            </div>
                    {% elif intervento_programma.stato == 'piano'  %}
                            <div class="pianificati">
                                <span>
                                    INTERVENTO A PIANO
                                </span>
                            </div>
                    {% elif intervento_programma.stato == 'attuazione' %}
                            <div class="attuati">
                                <span>
                                    INTERVENTO IN ATTUAZIONE
                                </span>
                            </div>
                    {% endif %}

                    <div class="row">
                        {% if intervento_programma.stato == 'piano' or intervento_programma.stato == 'attuazione' %}
                            <div class="col-md-12 opere-pubbliche">
                                {{ intervento_piano.piano.denominazione }}
                            </div>
                        {% endif %}

                        <div class="col-md-3">
                            <div class="what">
                                <a href="{% url 'tipo-immobile' intervento_programma.tipo_immobile.slug %}">
                                {% if intervento_programma.tipo_immobile.tipologia == '1'  %}
                                    <span class="sector altro"> </span>
                                {% elif intervento_programma.tipo_immobile.tipologia == '2'  %}
                                    <span class="sector infrastrutture"> </span>
                                {% elif intervento_programma.tipo_immobile.tipologia == '3'  %}
                                    <span class="sector ospedali"> </span>
                                {% elif intervento_programma.tipo_immobile.tipologia == '4'  %}
                                    <span class="sector cimiteri"> </span>
                                {% elif intervento_programma.tipo_immobile.tipologia == '5'  %}
                                    <span class="sector edifici"> </span>
                                {% elif intervento_programma.tipo_immobile.tipologia == '6'  %}
                                    <span class="sector sportivi"> </span>
                                {% elif intervento_programma.tipo_immobile.tipologia == '7'  %}
                                    <span class="sector chiese"> </span>
                                {% elif intervento_programma.tipo_immobile.tipologia == '8'  %}
                                    <span class="sector scuole"> </span>
                                {% elif intervento_programma.tipo_immobile.tipologia == '9'  %}
                                    <span class="sector pubblici"> </span>
                                {% endif %}
                               {{ intervento_programma.tipo_immobile }}</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="nome-proprietario">
                                        <div class="etichetta">Proprietario</div>
                                        {{ intervento_programma.propr_immobile.denominazione }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="nome-attuatore">
                                        <div class="etichetta">Soggetto Attuatore</div>
                                        <a href="{% url 'sogg-attuatore' intervento_programma.soggetto_attuatore.slug  %}">
                                            {{ intervento_programma.soggetto_attuatore.denominazione }}
                                        </a>
                                    </div>
                                </div>
                                {% if imprese %}
                                    <div class="col-md-12">
                                        <div class="nome-lavoro">
                                            <div class="etichetta">Imprese</div>
                                            {% for impresa in imprese %}
                                                <a href="{% url 'impresa' impresa.slug %}">{{ impresa.ragione_sociale }}</a><br/>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# importi / cofinanziamenti / liquidazioni   #}
    <section class="importi-intervento1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Gli importi dell'intervento</h1>
                </div>
            </div>
        </div>
    </section>

    {% if intervento_programma.stato == 'programma' or  intervento_programma.stato == 'piano' %}
        {% include 'modules/importi_programmazione.html' %}
    {% elif intervento_programma.stato == 'attuazione' %}
        {% include 'modules/importi_attuazione.html' %}
    {% endif %}

    {# barra stato avanzamento   #}
    {% if intervento_programma.stato == 'attuazione' %}
        <section class="avanzamento">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Stato di avanzamento</h1>
                    </div>

                    <div class="row avanzamento-progetto">

                        <div class="col-sm-4 box state1">
                            <div class="header">
                                Progettazione
                            </div>

                            {% if progetti|length > 0 %}
                                <ul class="lista">
                                    {% for p in progetti %}
                                        <li class="row {% if p.data_fine %}done{% endif %}">
                                            <div class="col-xs-7"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> {{ p.get_tipologia_display }}</div>
                                            <div class="col-xs-5 text-right">
                                                {% if p.data_fine %}
                                                    {{ p.data_fine }}
                                                {% elif p.data_inizio %}
                                                    {{ p.data_inizio }}
                                                {% elif p.data_deposito %}
                                                    {{ p.data_deposito }}
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="col-sm-4 box {% if intervento_programma.stato_attuazione == 'in_corso' or intervento_programma.stato_attuazione == 'concluso' %}state2{% else %}to-begin{% endif %}">
                            <div class="header">
                                    Lavori in corso
                            </div>
                            {% if intervento_programma.stato_attuazione == 'in_corso' or intervento_programma.stato_attuazione == 'concluso' %}
                                {#    if the interv. is not in corso/concluso, dont print events for the state   #}
                                {% if eventi_in_corso|length > 0  %}
                                    <ul class="lista">
                                        {% for eic in eventi_in_corso %}
                                            <li class="row done">
                                                <div class="col-xs-7"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> {{ eic.get_tipologia_display }}</div>
                                                <div class="col-xs-5 text-right">{{ eic.data }}</div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="lista">

                                        <li class="row done">
                                            <div class="col-xs-12"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> {{ intervento.get_tipologia_display }}</div>

                                        </li>

                                    </ul>

                                {% endif %}
                            {% endif %}

                        </div>
                        <div class="col-sm-4 box {% if intervento_programma.stato_attuazione == 'concluso' and evento_fine %}state3{% else %}to-begin{% endif %}">
                            <div class="header">
                                <small>Data fine effettiva</small> {% if evento_fine and evento_fine.data %}{{ evento_fine.data }}{% endif %}
                            </div>

                            {% if evento_fine  %}
                                <ul class="lista">
                                    <li class="row done">
                                        <div class="col-xs-7"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> {{ evento_fine.get_tipologia_display }}</div>
                                        <div class="col-xs-5 text-right">{{ evento_fine.data }}</div>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    {#    varianti #}
    {% if varianti %}
        <section class="varianti">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1>Varianti</h1>

                        <table>
                            {% for v in varianti %}
                                <tr>
                                    <th class="etichetta">{{ v.get_tipologia_display|title }}</th>
                                    <th class="carico">{{ v.get_stato_display }}</th>
                                    <th class="data">{{ v.data_deposito }}</th>
                                </tr>
                            {% endfor %}

                        </table>

                    </div>
                </div>
            </div>
        </section>
    {% endif %}


{% endblock %}