{% extends "base.html" %}
{% block head-title %} Aggiornamento dati {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12" style="font-size: 20px;">
                <p>
                    Stiamo lavorando per aggiornare i dati sul server.<br/>
                    Attendi qualche minuto, torneremo al più presto.
                </p>

                <p>
                    Grazie per la pazienza,<br/>
                    lo staff di Open Ricostruzione
                </p>

            </div>
        </div>
    </div>
{% endblock %}