@import "bootstrap/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Abel);
//Open Ricostruzione custom Css

body{
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  background-color: white;
}

.header{

  #logo_header{

   #logo_top{
     padding-top: @spacing-double;
     padding-bottom: @spacing-double;
   }
    #appello{
      padding-left: @spacing-half;
      padding-right: @spacing-half;
      padding-top: @spacing-half;
      padding-bottom: 40px;
      overflow: hidden;
      background-color: #dcf930;
      color: black;
      font: 'Arial', 'sans-serif';
      font-weight: bold;
      letter-spacing: 0px;
      font-size: 16px;

      .iban{
        .title{
          padding-top: 5px;
          font-size: 12px;
          text-transform: uppercase;
        }
        .number{
          background-color: white;
          color: black;
          text-transform: uppercase;
        }
      }
    }
  }

}


#top_navbar{
  background-color: @navbar-color;

  #navbar-span{
    margin-left: @spacing-half;
  }

  .navbar-custom{
    margin-bottom:0;
    font-size: @navbar-size;

    .navbar-inner-custom{
      padding:0;
      border: 0;
      border-radius: 0;
      background-color: @navbar-color;
      border-bottom-color: @navbar-color;
      background-repeat: no-repeat;
      -webkit-box-shadow: none;
      background-image: none;

    }
  }
  .search-query{

    height: 20px;
    padding-bottom: 5px;
    margin-left: @spacing-half;
    padding-left: 5px;
    border-radius: 0;
    background-color: #cacccb;
  }
  form.navbar-search{
    .search-query{
      min-width: 380px;
    }
  }

}

div.content{
  min-height: 500px;
}

footer{
  min-height: 200px;
  background-color: @footer-color;
}