@import "bootstrap/bootstrap.less";
@import url('http://fonts.googleapis.com/css?family=Open+Sans&.css');
//Open Ricostruzione custom Css

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: white;
}

.header{
  margin-top: @margin-double;
  .row{
    .navbar-inner{
      border-radius: 0;
      padding-left: 38px;

      .search-query{
        width: 400px;
        height: 20px;
        padding-bottom: 5px;
        padding-left: 5px;
        border-radius: 0;
      }
    }
  }
  #logo_header{
    padding-left: @margin-double;
    padding-bottom: @margin-double;
  }
  #appello{
    background-color: #dcf930;
    color: black;
    .iban{
        .title{
          font-weight: bold;
          text-transform: uppercase;
        }
        .number{
          background-color: white;
          color: black;
          font-weight: bold;
          text-transform: uppercase;
        }
    }
  }
}

div.content{
  min-height: 500px;
}

footer{
  min-height: 200px;
  background-color: @green-color;
}