@import "bootstrap/variables.less";

/* MARGIN */
@spacing-half: 15px;
@spacing-single: 25px;
@spacing-double: 50px;



/* COLOR */
@navbar-color: #7b7979;
@footer-color: #5ab741;
@green-color: #a1ba03;
@support-box-color: #dcf930;

/* FONT SIZE */
@slogan-size: 18px;
@navbar-size: 15px;