@import "../vendor/bootstrap/css/bootstrap.css";

@import url(http://fonts.googleapis.com/css?family=Abel);
/* MARGIN */
/*BOXES BACKGROUND*/
/* COLOR */
/* FONT SIZE */
body {
  font-family: 'Arial', sans-serif;
  background-color: white;
}
.ui-autocomplete {
  z-index: 1000!important;
}
input::-webkit-input-placeholder {
  color: #555;
}
input:-moz-placeholder {
  color: #555;
}
input[placeholder],
[placeholder],
*[placeholder] {
  color: #555;
}

