{% load italianize l10n %}
{% if donazioni_totale.count > 0 %}

    <section class="donazioni">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">
                        le donazioni
                    </h1>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="donate">
                                <span class="small">sono state ricevute</span><br>
                                <span class="green big">{{ donazioni_totale.count|italianize:0 }}</span> DONAZIONI <span class="small">PER</span><br>
                                {{ donazioni_totale.sum|italianize }} €</p>
                                <a href="{% url 'donazioni' %}">VEDI TUTTE</a>
                        </div>
                        <div class="col-md-2">
                            <div id="pie-donazioni"></div>
                        </div>
                        <div class="col-md-7">
                            <ul class="lista-pie-donazioni"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var data_array_pie_donazioni =
            [
                {% for item in donazioni_aggregates %}
                    {% localize off  %}
                        {name: "{{ item.name }}", y: {{ item.sum|default_if_none:0 }}, url: "{% url 'donazioni' %}"} {% if not forloop.last %},{% endif %}
                    {% endlocalize %}
                {% endfor %}

            ];

    </script>

{% endif %}
