{# execution progress bar    #}
<div class="row">
    <div class="col-md-12">
        {#        graph will go here #}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="{% url 'lista-interventi' %}?{{ base_filters }}&stato=attuazione&stato_attuazione=progettazione">
            In progettazione:{{ status.progettazione.count }}
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'lista-interventi' %}?{{ base_filters }}&stato=attuazione&stato_attuazione=in_corso">
            In corso:{{ status.in_corso.count  }}
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'lista-interventi' %}?{{ base_filters }}&stato=attuazione&stato_attuazione=concluso">
            Conclusi:{{ status.conclusi.count }}
        </a>
    </div>
</div>
