{% load italianize %}
{% if intprog %}
    <h2>
        <a href="{% url 'intervento-programma' slug=intprog.slug %}">
            <i class="ico-settori green {% spaceless %}
            {% if intprog.tipo_immobile.slug == 'altro' %}
                altro
            {% elif intprog.tipo_immobile.slug == 'chiese-e-beni-religiosi' %}
                chiese
            {% elif intprog.tipo_immobile.slug == 'cimiteri' %}
                cimiteri
            {% elif intprog.tipo_immobile.slug == 'edifici-pubblici' %}
                pubblici
            {% elif intprog.tipo_immobile.slug == 'edifici-storici-e-culturali' %}
                storici
            {% elif intprog.tipo_immobile.slug == 'impianti-sportivi-e-ricreativi' %}
                sportivi
            {% elif intprog.tipo_immobile.slug == 'infrastrutture-e-bonifiche' %}
                infrastrutture
            {% elif intprog.tipo_immobile.slug == 'ospedali' %}
                ospedali
            {% elif intprog.tipo_immobile.slug == 'scuole-e-universita' %}
                scuole
            {% endif %}
            {% endspaceless %}  "></i> {{ intprog.denominazione|title }}
        </a>
    </h2>
    <span class="euros">{{ intprog.importo_generale|italianize }} € <span>programmati</span></span>

    <a href="" class="comune">
        Comune di {{ intprog.territorio.nome_con_provincia }}
    </a>
{% endif %}