<div class="row">
    <div class="col-md-12">
        <h1>Chi &egrave; il responsabile?</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6" id="sogg_att_pie">
    </div>
    <div class="col-md-6">
        {% for sa in sogg_att_top %}
            <div class="row">
                <div class="col-md-12">
                    <strong>{{ sa.denominazione }}</strong> n.interventi: {{ sa.interventoprogramma__count }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script>

    var sogg_att_data = [];

    {% for item in sogg_att_aggregates %}
        {% if item.attuazione.sum  and item.attuazione.sum > 0 %}
            sogg_att_data.push(['{{ item.name }}',{{ item.attuazione.sum|floatformat:2 }}]);
        {% endif %}
    {% endfor %}

    $(document).ready(
        paint_chart('{{ pie_title }}',"sogg_att_pie",sogg_att_data)
    )
</script>