{% load italianize %}
<section class="riepilogo">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:20px;" id="status">
               <div class="row">
                   {% if not impresa  %}
                       <div class="col-md-4">
                           <a href="{% url 'lista-interventi' %}?{{ base_filters }}">

                               <strong>{{ status.programmazione.count|italianize:0 }} INTERVENTI A PROGRAMMA</strong>
                               <i class="glyphicon glyphicon-info-sign pull-right tip" data-toggle="tooltip" data-placement="top" title="Il Programma delle Opere Pubbliche e dei Beni Culturali rappresenta
                                    un’analisi completa della situazione degli edifici pubblici o di uso
                                    pubblico danneggiati e dei finanziamenti a disposizione degli enti
                                    attuatori pubblici, privati (uso pubblico), ecclesiastici, nella fase
                                    post-emergenziale.">

                               </i>

                               <div class="much programmati">
                                   <div class="triangle">
                                       <span class="ico"></span> <span class="num">{{ status.programmazione.sum|italianize }}</span> €
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4">
                           <a href="{% url 'lista-interventi' %}?{{ base_filters }}&a_piano=True">
                               <strong>{{ status.pianificazione.count|italianize:0 }} INTERVENTI A PIANO</strong>
                               <i class="glyphicon glyphicon-info-sign pull-right tip" data-toggle="tooltip" data-placement="top" title="Degli interventi inseriti nel Programma delle Opere Pubbliche e dei
                                    Beni Culturali, annualmente alcuni vengono inseriti e finanziati nei
                                    Piani Annual">

                               </i>
                               <div class="much pianificati">
                                   <div class="triangle">
                                       <span class="ico"></span> <span class="num">{{ status.pianificazione.sum|italianize }}</span> €
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4">
                   {% else %}
                        <div class="col-md-4 col-md-offset-4">
                   {% endif %}

                        <a href="{% url 'lista-interventi' %}?{{ base_filters }}&in_attuazione=True">
                            <strong>{{ status.attuazione.count|italianize:0 }} INTERVENTI IN ATTUAZIONE</strong>
                            <i class="glyphicon glyphicon-info-sign pull-right tip" data-toggle="tooltip" data-placement="top" title="Gli interventi inseriti nei Piani annuali entrano in fase di
                                attuazione che comporta la progettazione, la pubblicazione e
                                aggiudicazione delle gare, l'esecuzione dei lavori e la loro consegna">

                            </i>
                            <div class="much attuati">
                                <div class="triangle">
                                    <span class="ico"></span> <span class="num">{{ status.attuazione.sum|italianize }}</span> €
                                </div>
                            </div>
                        </a>
                    </div>
               </div>
            </div>
            {% if status.attuazione.count > 0 %}
                <div class="div-bar col-md-12  text-center">
                    <h2>
                        Lo stato di avanzamento dei {{ status.attuazione.count|italianize:0 }} interventi in attuazione
                    </h2>
                </div>
                <div class="col-md-12">
                    {# attuazione bar graph here               #}
                    <div id="bars">
                </div>

            {% endif %}

        </div>
    </div>
</section>