{% load italianize %}
<section class="riepilogo">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:20px;" id="status">
               <div class="row">
                   {% if not impresa  %}
                       <div class="col-md-4">
                           <a href="{% url 'lista-interventi' %}?{{ base_filters }}">

                               <strong>{{ status.programmazione.count|italianize:0 }} INTERVENTI A PROGRAMMA</strong>
                               <i class="glyphicon glyphicon-info-sign pull-right tip" 
                                  data-toggle="tooltip" data-placement="top" 
                                  title="Il Programma delle Opere Pubbliche e dei Beni Culturali elenca 
                                     gli interventi previsti per gli edifici pubblici o di uso pubblico 
                                     in conseguenza dei danni prodotti dal sisma 2012 e ne stima puntualmente 
                                     il fabbisogno finanziario.">

                               </i>

                               <div class="much programmati">
                                   <div class="triangle">
                                       <span class="ico"></span> <span class="num">{{ status.programmazione.sum|italianize }}</span> €
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4">
                           <a href="{% url 'lista-interventi' %}?{{ base_filters }}&a_piano=True">
                               <strong>{{ status.pianificazione.count|italianize:0 }} INTERVENTI A PIANO</strong>
                               <i class="glyphicon glyphicon-info-sign pull-right tip" data-toggle="tooltip" data-placement="top" title="Parte degli interventi indicati nel Programma delle Opere Pubbliche e dei Beni Culturali viene inserita e finanziata nei Piani Annuali attuativi. L’importo riportato è pari alla somma degli importi a piano finanziati dal Commissario Delegato e degli eventuali relativi cofinanziamenti a carico di altri soggetti.">

                               </i>
                               <div class="much pianificati">
                                   <div class="triangle">
                                       <span class="ico"></span> <span class="num">{{ status.pianificazione.sum|italianize }}</span> €
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4">
                   {% else %}
                        <div class="col-md-4 col-md-offset-4">
                   {% endif %}

                        <a href="{% url 'lista-interventi' %}?{{ base_filters }}&in_attuazione=True">
                            <strong>{{ status.attuazione.count|italianize:0 }} INTERVENTI IN ATTUAZIONE</strong>
                            <i class="glyphicon glyphicon-info-sign pull-right tip" data-toggle="tooltip" data-placement="top" title="Gli interventi inseriti nei Piani annuali vengono attuati tramite le fasi di progettazione, gara d'appalto, esecuzione lavori e loro consegna al Soggetto Attuatore. L’importo riportato è pari alla somma degli importi liquidati o in liquidazione da parte del Commissario Delegato e dei relativi cofinanziamenti.">

                            </i>
                            <div class="much attuati">
                                <div class="triangle">
                                    <span class="ico"></span> <span class="num">{{ status.attuazione.sum|italianize }}</span> €
                                </div>
                            </div>
                        </a>
                    </div>
               </div>
            </div>
            {% if status.attuazione.count > 0 %}
                <div class="div-bar col-md-12  text-center">
                    <h2>
                        Lo stato di avanzamento dei {{ status.attuazione.count|italianize:0 }} interventi in attuazione
                    </h2>
                </div>
                <div class="col-md-12">
                    {# attuazione bar graph here               #}
                    <div id="bars">
                </div>

            {% endif %}

        </div>
    </div>
</section>
