{% load italianize %}
<section class="riepilogo">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                    <div id="chart-venn" style="float:right; height: 130px; width: 130px; margin-top:0px; margin-bottom:0px;"></div>
            </div>

            <div class="col-md-10" style="margin-top:20px;">
               <div class="row">
                    <div class="col-md-4">

                        <strong>{{ status.programmazione.count|italianize:0 }} INTERVENTI PROGRAMMATI</strong> <i class="glyphicon glyphicon-info-sign pull-right tip" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i>
                        <div class="much programmati">
                            <div class="triangle">
                                <span class="ico"></span> <span class="num">{{ status.programmazione.sum|italianize }}</span> €
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <strong>{{ status.pianificazione.count|italianize:0 }} INTERVENTI PIANIFICATI</strong> <i class="glyphicon glyphicon-info-sign pull-right tip" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i>
                        <div class="much pianificati">
                            <div class="triangle">
                                <span class="ico"></span> <span class="num">{{ status.pianificazione.sum|italianize }}</span> €</div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <strong>{{ status.attuazione.count|italianize:0 }} INTERVENTI ATTUATI</strong> <i class="glyphicon glyphicon-info-sign pull-right tip" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i>
                        <div class="much attuati">
                            <div class="triangle">
                                <span class="ico"></span> <span class="num">{{ status.attuazione.sum|italianize }}</span> €</div>
                            </div>
                    </div>
               </div>
            </div>
{##}
{#            <div class="col-md-2" style="margin-top:20px; display:none">#}
{#                <div id="pie-liquidati"></div>#}
{#                <h4>25,6%</h4>#}
{#                importi liquidati#}
{#            </div>#}

            <div class="div-bar col-md-12  text-center">
                <h2>
                    lorem ipsum
                </h2>

                <div class="interventi">
                    <div class="color"></div>
                    <p>
                        <span></span><br>
                        interventi in progettazione
                    </p>
                </div>
                <div class="lavori-in-corso">
                    <div class="color"></div>
                    <p>
                        <span></span><br>
                        lavori in corso
                    </p>
                </div>
                <div class="lavori-conclusi">
                    <div class="color"></div>
                    <p>
                        <span></span><br>
                        lavori conclusi
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


