{% load l10n %}

<div class="row">
    <div class="col-md-12">
        {% if impresa %}
            <div id="mappa_attuazione" class="map"></div>
        {% else %}
            <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_danno" aria-controls="tab_danno" role="tab" data-toggle="tab" id="handle_danno">Mappa Danno</a></li>
                <li role="presentation"><a href="#tab_attuazione" aria-controls="tab_attuazione" role="tab" data-toggle="tab" id="handle_attuazione">Mappa Attuazione</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab_danno"><div id="mappa_danno" class="map"></div></div>
                <div role="tabpanel" class="tab-pane fade" id="tab_attuazione"><div id="mappa_attuazione" class="map"></div></div>
            </div>

        </div>

        {% endif %}

    </div>

</div>


<script type="text/javascript">

    var bounds, center;
    var geojson_danno = [];
    var geojson_attuazione = [];
    var impresa;

    {% if impresa %}
        impresa = true;
    {% else %}
        impresa = false;
    {% endif %}

    function prepare_data(){
        {#        prepare data for the maps: center, bounds and comunidata #}
        bounds = {
                'sw': {'lat':{{ map_bounds.sw.lat|unlocalize }} ,'lon':{{ map_bounds.sw.lon|unlocalize }} },
                'ne': {'lat':{{ map_bounds.ne.lat|unlocalize }} ,'lon':{{ map_bounds.ne.lon|unlocalize }} }
            };

        center = {'lat': {{ map_center.lat|unlocalize }},'lon':{{ map_center.lon|unlocalize }} };

        var danno_data ={
            {# creates the dict with data using istat code as key to retrieve Comune polygon  #}
            {% for t in map_danno_values %}
                "{{ t.istat_code }}": {
                    "label": "{{ t.label }}",
                    "url": "{{ t.url }}",
                    {% if t.value %}
                        "value": "{{ t.value }}".replace(/,/g, '.')
                    {% else %}
                        "value": null
                    {% endif %}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}

        };
        var attuazione_data ={
            {# creates the dict with data using istat code as key to retrieve Comune polygon  #}
            {% for t in map_attuazione_values %}
                "{{ t.istat_code }}": {
                    "label": "{{ t.label }}",
                    "url": "{{ t.url }}",
                    {% if t.value %}
                        "value": "{{ t.value }}".replace(/,/g, '.')
                    {% else %}
                        "value": null
                    {% endif %}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}

        };

        if(impresa == false)
            geojson_danno = integrate_geojson(comuniEmilia, danno_data);

        geojson_attuazione = integrate_geojson(comuniEmilia, attuazione_data);

    }

    /* integrate_geojson
    *  integrates geojson data about comuni emilia with data from db and creates the new_geojson
    *  that will be fed to leaflet */
    function integrate_geojson(geojson, data_struct){
        var new_geojson = [];
        $.each(geojson.features, function(index, feature){
                var id = feature.properties.codice;
                //clone feature variable and copy it into "f" variable, this avoids shallow copy (by reference)
                var f = jQuery.extend(true, {}, feature);
    
                if (id in data_struct){
                    f.properties.url = data_struct[id].url;
                    f.properties.label = data_struct[id].label;
                    f.properties.value = data_struct[id].value;
                    new_geojson.push(f);
                }
            });
        return new_geojson
    }

    var secondary_map_is_initialized = false;
    function init_secondary_map(event){
        {# initialize the secondary map when the container tab is showed for the first time #}
        if(secondary_map_is_initialized==false){
            thematic_map(event.data.map_type, event.data.bounds, event.data.center, event.data.geojson_data);
            secondary_map_is_initialized = true;
        }
    }

    $(document).ready(function(){
        prepare_data();

        if(impresa == false){
            {#        on page load creates danno map and set handler on event for attuazione map #}
            $('a#handle_attuazione').on('shown.bs.tab',{map_type:'attuazione',bounds:bounds,center:center,geojson_data: geojson_attuazione},init_secondary_map);

            if(impresa == false)
                thematic_map('danno', bounds, center, geojson_danno);
        }
        else{
            thematic_map('attuazione', bounds, center, geojson_attuazione);
        }
    });


    // get color depending on population density value
    function getColor_danno(d) {
        return d > 10000000? '#800026' :
               d > 5000000 ? '#BD0026' :
               d > 1000000 ? '#E31A1C' :
               d > 500000  ? '#FC4E2A' :
               d > 200000  ? '#FD8D3C' :
               d > 50000   ? '#FED976' :
               d != null ? '#fffa6a':
                       '#FFFFFF';
    }
    function getColor_attuazione(d) {
        return d > 84 ? '#800026' :
               d > 70 ? '#BD0026' :
               d > 56 ? '#E31A1C' :
               d > 42 ? '#FC4E2A' :
               d > 28 ? '#FD8D3C' :
               d > 14 ? '#FED976' :
               d != null ? '#fffa6a':
                       '#FFFFFF';
    }

    {# adds legend to map #}
    function add_legend(map_type, map){


        var legend = L.control({position: 'bottomright'});

            legend.onAdd = function (map) {
                var grades;
                var map_type = map._container.id;
                var div = L.DomUtil.create('div', 'map_info legend');
                if(map_type == 'mappa_danno'){
                   grades = [0, 50000, 200000, 500000, 1000000, 5000000, 10000000];
                }
                else{
                    grades = [0, 14, 28, 42, 56, 70, 84];
                }

                var labels = [],
                    from, to;

                for (var i = 0; i < grades.length; i++) {
                    from = grades[i];
                    to = grades[i + 1];
                    if(map_type == 'mappa_danno'){
                        labels.push(
                            '<i style="background:' + getColor_danno(from + 1) + '"></i> ' +
                            from + (to ? '&ndash;' + to : '+'));
                    }
                    else{
                        labels.push(
                            '<i style="background:' + getColor_attuazione(from + 1) + '"></i> ' +
                            from + (to ? '&ndash;' + to : '+'));
                    }
                }
                labels.push('<i style="background:' + getColor_attuazione(null) + '"></i> '+no_data_label);

                div.innerHTML = labels.join('<br>');
                return div;
            };

        legend.addTo(map);

    }


</script>