{% load l10n %}
<div class="row">
    <div class="col-md-12">
        <div id="bar-chart"></div>
    </div>
</div>


<script>
    $(function () {
    $('#bar-chart').highcharts({
        chart: {
            type: 'column'
        },
        colors: ['#FF0000', '#00ff00', '#0000ff'],
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                {% for tipo_immobile in tipo_immobile_aggregates %}
                    "{{ tipo_immobile.name }}" {% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Euro'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} Euro</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0

            }
        },

        {% localize off %}
            series: [
            {
                name: 'Programmazione',
                data: [
                {% for tipo_immobile in tipo_immobile_aggregates %}
                    {{ tipo_immobile.programmazione.sum|default_if_none:0 }}{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
                ]

            },
             {
                name: 'Pianificazione',
                data: [
                {% for tipo_immobile in tipo_immobile_aggregates %}
                    {{ tipo_immobile.pianificazione.sum|default_if_none:0 }}{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
                ]

            },
            {
                name: 'Attuazione',
                data: [

                    {% for tipo_immobile in tipo_immobile_aggregates %}
                        {{ tipo_immobile.attuazione.sum|default_if_none:0 }}{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %}
                ]
            }]
        {% endlocalize %}
    });
});
</script>