{% load static %}
<footer id="footer">

    <section class="footer-top">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>QUESTO SITO</h4>
                    Open Ricostruzione è uno strumento a disposizione degli amministratori<br>
                    e dei cittadini per favorire una ricostruzione partecipata e trasparente.<br>
                  I dati sono aggiornati con cadenza mensile.<br><br>

                  <ul class="list-unstyled">
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'chi-siamo' %}">Contatti</a></li>
                    </ul>
                  <div style="margin-top:10px;">
  <a href="http://www.regione.emilia-romagna.it/" target="_blank"><img src="{% static 'img/loghi/logo-regione.png'%}"></a>
</div>
                </div>
                <div class="col-md-6">
                    <h4>OPEN DATA</h4>
                    I dati di tutti gli interventi per la ricostruzione pubblica e le donazioni
possono essere liberamente scaricati, elaborarli e riutilizzarli con Licenza <a href="http://creativecommons.org/licenses/by/3.0/it/deed.it">CC BY 3.0 IT</a>.
I dati possono essere scaricati nel <a href="https://it.wikipedia.org/wiki/JavaScript_Object_Notation">formato json</a> o interrogati tramite API.
                    <br><br>
                    <ul class="list-unstyled">
                        <li><a href='http://{{ site }}/scarico_dati/FENICE_OR_Interventi.json'>Scarica i dati in formato json</a></li>
                        <li><a href='http://{{ site }}/scarico_dati/FENICE_OR_DatiBase.json'>Scarica i metadati in formato json</a></li>
                        <li><a href="/api">Vai alle API di Open Ricostruzione</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>