{% load static %}
<footer id="footer">

    <section class="footer-top">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>QUESTO SITO</h4>
                    Open Ricostruzione è uno strumento a disposizione degli amministratori<br>
                    e dei cittadini per favorire una ricostruzione partecipata e trasparente.<br>
                    E' aperto al contributo di tutti e anzi lo incoraggia: commenti, notizie,<br>
                    segnalazioni.
                    <br><br>
                    <ul class="list-unstyled">
                        <li><a href="#">LInk 1</a></li>
                        <li><a href="#">LInk 2</a></li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <h4>OPEN DATA</h4>
                    Stiamo lavorando all'apertura dei dati perché cittadini e organi di informazione
possano liberamente elaborarli e riutilizzarli con Licenza <a href="#">CC BY 3.0 IT</a>.
A breve quindi saranno tutti disponibili nei formati open data.
Il codice sorgente dell'applicazione è open source rilasciato con licenza Gnu-Gpl
V3 e scaricabile su <a href="#">GitHub</a>.
                    <br><br>
                    <ul class="list-unstyled">
                        <li><a href="#">LInk 1</a></li>
                        <li><a href="#">LInk 2</a></li>
                    </ul>

                </div>

            </div>
        </div>

    </section>

    <section class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h4>Un progetto</h4>
                    <ul>
                        <li><a href="http://protezionecivica.ning.com/" target="_blank"><img src="{% static 'img/loghi/protezionecivica.png'%}"></a></li>
                        <li><a href="http://www.wikitalia.it/" target="_blank"><img src="{% static 'img/loghi/wikitalia.png'%}"></a></li>
                    </ul>

                </div>

                <div class="col-md-8">
                    <h4>In collaborazione con</h4>
                    <ul>
                        <li><a href="http://www.regione.emilia-romagna.it/" target="_blank"><img src="{% static 'img/loghi/regioneemilia.png'%}"></a></li>
                        <li><a href="http://www.actionaid.it/" target="_blank"><img src="{% static 'img/loghi/actionaid.png'%}"></a></li>
                        <li><a href="http://www.openpolis.it/" target="_blank"><img src="{% static 'img/loghi/openpolis.png'%}"></a></li>
                        <li><a href="http://portale.ancitel.it/" target="_blank"><img src="{% static 'img/loghi/ancitel.png'%}"></a></li>
                        <li><a href="http://www.anci.it/" target="_blank"><img src="{% static 'img/loghi/anci.png'%}"></a></li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <h4>Con il sostegno di</h4>
                    <ul>
                        <li><a href="http://www.cisco.com/web/IT/index.html" target="_blank"><img src="{% static 'img/loghi/cisco.png'%}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
