<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown-submenu">

{#                     DOVE           #}

                    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Dove si interviene?
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="">
                        {% regroup territori_cratere by prov as group %}
                        {% for g in group %}
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">{{ g.list.0.provincia_name|title }} <span class="glyphicon glyphicon-triangle-right"></span> </a>
                                <ul class="dropdown-menu">
                                    {% for item in g.list %}
                                        <li><a href="{% url 'localita' slug=item.slug %}">{{ item.denominazione }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="#">Vari territori</a> </li>

                    </ul>
                </li>
{#                COSA         #}
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Per cosa?
                        <span class="caret"></span>
                    </a>


                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="">
                        {% for t in tipologie_immobile %}
                            <li><a href="#">{{ t.1 }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

{#                RESPONSABILI         #}
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Chi &egrave; il responsabile?
                        <span class="caret"></span>
                    </a>


                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="">
                        {% for t in tipologie_sogg_att %}
                            <li><a href="#">{{ t.1 }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>