<!-- navbar -->


<div class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dove si interviene?<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        {% regroup territori_cratere by prov as group %}
                        {% for g in group %}
                            <li class="dropdown-submenu">

                                <a class="dropdown-toggle" data-toggle="dropdown" >
                                    {{ g.list.0.provincia_name|title }}
                                </a>
                                <ul class="dropdown-menu">
                                    {% for item in g.list %}
                                        <li><a href="{% url 'localita' slug=item.slug %}">{{ item.denominazione }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="{% url 'localita' slug='vari-territori' %}">Vari territori</a></li>
                        <li><a href="#">Territori fuori cratere</a></li>
                    </ul>
                </li>
{#                COSA  #}
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Per cosa?<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for tipologia in tipologie_immobile %}
                            <li><a href="{% url 'tipo-immobile' tipologia.slug  %}">{{ tipologia.denominazione }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
{#                RESPONSABILI #}
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chi &egrave; il responsabile?<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for t in tipologie_sogg_att %}

                            <li>
                                <a href="{% url 'tipo-sogg-attuatore' t.1|lower %}">{{ t.2 }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {#                IMPRESE               #}
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quali sono le imprese coinvolte?<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form role="search" class="pull-left autosubmit" action="{% url 'impresa-search' %}" method="get">
                                {{ impresa_search_form }}
                            </form>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'lista-imprese' %}" >Tutte le imprese</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>